#s-6fff0dd4-7804-4845-9a44-56fc2cf46b7c #s-Background_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6fff0dd4-7804-4845-9a44-56fc2cf46b7c #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6fff0dd4-7804-4845-9a44-56fc2cf46b7c #s-Label_118 {
  -ms-transform: rotate(0.0deg);
}
#s-6fff0dd4-7804-4845-9a44-56fc2cf46b7c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6fff0dd4-7804-4845-9a44-56fc2cf46b7c #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-6fff0dd4-7804-4845-9a44-56fc2cf46b7c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6fff0dd4-7804-4845-9a44-56fc2cf46b7c #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6fff0dd4-7804-4845-9a44-56fc2cf46b7c #s-Label_68 {
  -ms-transform: rotate(0.0deg);
}
#s-6fff0dd4-7804-4845-9a44-56fc2cf46b7c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6fff0dd4-7804-4845-9a44-56fc2cf46b7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}