#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Rich_text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Ellipse_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Label_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-71e1fe3e-2e0d-4e09-a89c-d7baf52ca7a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}