#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_275 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 332px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-dot-light-bue {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 332px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 332px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 332px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Notifications-item4_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 19px 19px 19px 19px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 453px;
  height: 15px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}