#s-8ccdad62-246d-47f0-8706-dc6a342346ec > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Group_1 {
  position: absolute;
  top: 80px;
  left: 452px;
  width: 120px;
  height: 120px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  overflow: hidden;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Ellipse_1 .content {
  width: 120px;
  height: 120px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #shapewrapper-s-Ellipse_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_275 {
  position: absolute;
  top: 36px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_275 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_275 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_275 span#rtr-s-Label_275_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Text_1 {
  position: absolute;
  top: 220px;
  left: 446px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Text_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-List-item {
  position: absolute;
  top: 320px;
  left: 0px;
  width: 1024px;
  height: 44px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_43 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 50px;
  width: 974px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_43 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_43 span#rtr-s-Rich_text_43_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_20 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_18 {
  position: absolute;
  top: 43px;
  left: 147px;
  width: 877px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_7 {
  position: absolute;
  top: 8px;
  left: 983px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_7 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_7 span#rtr-s-Label_7_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-List-item_1 {
  position: absolute;
  top: 364px;
  left: 0px;
  width: 1024px;
  height: 44px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_44 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 50px;
  width: 974px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_44 span#rtr-s-Rich_text_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_21 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_21 span#rtr-s-Rich_text_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_19 {
  position: absolute;
  top: 43px;
  left: 147px;
  width: 877px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_8 {
  position: absolute;
  top: 8px;
  left: 983px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_8 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_8 span#rtr-s-Label_8_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-List-item_2 {
  position: absolute;
  top: 408px;
  left: 0px;
  width: 1024px;
  height: 44px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_45 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 50px;
  width: 974px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_45 span#rtr-s-Rich_text_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_22 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_20 {
  position: absolute;
  top: 43px;
  left: 147px;
  width: 877px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_9 {
  position: absolute;
  top: 8px;
  left: 983px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_9 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_9 span#rtr-s-Label_9_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-List-item_3 {
  position: absolute;
  top: 452px;
  left: 0px;
  width: 1024px;
  height: 44px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_46 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 50px;
  width: 974px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_46 span#rtr-s-Rich_text_46_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_23 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_23 span#rtr-s-Rich_text_23_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_21 {
  position: absolute;
  top: 43px;
  left: 147px;
  width: 877px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_10 {
  position: absolute;
  top: 8px;
  left: 983px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_10 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_10 span#rtr-s-Label_10_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-List-item_4 {
  position: absolute;
  top: 496px;
  left: 0px;
  width: 1024px;
  height: 44px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_47 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 50px;
  width: 974px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_47 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_47 span#rtr-s-Rich_text_47_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_24 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rich_text_24 span#rtr-s-Rich_text_24_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Line_22 {
  position: absolute;
  top: 43px;
  left: 147px;
  width: 877px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_11 {
  position: absolute;
  top: 8px;
  left: 983px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_11 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Label_11 span#rtr-s-Label_11_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button {
  position: absolute;
  top: 590px;
  left: 342px;
  width: 332px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button span {
  color: #FC361D;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button span#rtr-s-Button_0 {
  color: #FC361D;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-dot-light-bue .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-dot-light-bue .content {
  width: 14px;
  height: 14px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-dot-light-bue {
  position: absolute;
  top: 423px;
  left: 970px;
  width: 14px;
  height: 14px;
  background-color: #FC361D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #shapewrapper-s-dot-light-bue .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #shapewrapper-s-dot-light-bue span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #shapewrapper-s-dot-light-bue span#rtr-s-dot-light-bue_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Group_2 {
  position: absolute;
  top: 578px;
  left: 312px;
  width: 400px;
  height: 188px;
  display: none;
  z-index: 100;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 188px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_1 {
  position: absolute;
  top: 130px;
  left: 30px;
  width: 332px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_1 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_1 span#rtr-s-Button_1_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_2 {
  position: absolute;
  top: 72px;
  left: 30px;
  width: 332px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_2 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_2 span#rtr-s-Button_2_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_3 {
  position: absolute;
  top: 22px;
  left: 30px;
  width: 332px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_3 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Button_3 span#rtr-s-Button_3_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Notifications-item4_1 {
  position: absolute;
  top: 649px;
  left: 270px;
  width: 453px;
  height: 15px;
  background-color: #999999;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 19px 19px 19px 19px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Notifications-item4_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Notifications-item4_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec #s-Notifications-item4_1 span#rtr-s-Notifications-item4_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8ccdad62-246d-47f0-8706-dc6a342346ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}