#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Rich_text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Label_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Ellipse_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 #s-Notifications-item4_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c9b7ed2c-667c-456f-a3d1-26f6c7528670 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}