#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-info-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Rich_text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd #s-Label_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0cda1285-e6cf-4cff-974f-7011a93a63cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}