#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Rich_text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Rich_text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Rich_text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0ea68108-0cb6-43a3-88d2-57bd5133066d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}