#s-16c703a6-006b-47f8-b4b6-745b149e9d4c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_422 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_431 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Group_35 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 342px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-contact-header {
  position: absolute;
  top: 182px;
  left: 0px;
  width: 375px;
  height: 120px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_76 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 275px;
  height: 120px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_76 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_76 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_76 span#rtr-s-Rich_text_76_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_76 span#rtr-s-Rich_text_76_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_76 span#rtr-s-Rich_text_76_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Image_10 {
  position: absolute;
  top: 23px;
  left: 14px;
  width: 80px;
  height: 80px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_1 {
  position: absolute;
  top: 287px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_1 span#rtr-s-Text_1_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-contact-header_1 {
  position: absolute;
  top: 304px;
  left: 0px;
  width: 375px;
  height: 120px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_77 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 275px;
  height: 120px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_77 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_77 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_77 span#rtr-s-Rich_text_77_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_77 span#rtr-s-Rich_text_77_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_77 span#rtr-s-Rich_text_77_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Image_11 {
  position: absolute;
  top: 23px;
  left: 14px;
  width: 80px;
  height: 80px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-contact-header_2 {
  position: absolute;
  top: 425px;
  left: 0px;
  width: 375px;
  height: 120px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_78 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 275px;
  height: 120px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_78 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_78 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_78 span#rtr-s-Rich_text_78_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_78 span#rtr-s-Rich_text_78_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_78 span#rtr-s-Rich_text_78_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Image_12 {
  position: absolute;
  top: 23px;
  left: 14px;
  width: 80px;
  height: 80px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-contact-header_3 {
  position: absolute;
  top: 547px;
  left: 0px;
  width: 375px;
  height: 120px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_79 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 275px;
  height: 120px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_79 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_79 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_79 span#rtr-s-Rich_text_79_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_79 span#rtr-s-Rich_text_79_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Rich_text_79 span#rtr-s-Rich_text_79_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Image_13 {
  position: absolute;
  top: 23px;
  left: 14px;
  width: 80px;
  height: 80px;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_2 {
  position: absolute;
  top: 411px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_2 span#rtr-s-Text_2_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_3 {
  position: absolute;
  top: 530px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_3 span#rtr-s-Text_3_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_4 {
  position: absolute;
  top: 652px;
  left: 311px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Text_4 span#rtr-s-Text_4_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Hotspot_1 {
  position: absolute;
  top: 181px;
  left: 0px;
  width: 375px;
  height: 121px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Hotspot_2 {
  position: absolute;
  top: 303px;
  left: 0px;
  width: 375px;
  height: 121px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Hotspot_3 {
  position: absolute;
  top: 425px;
  left: 0px;
  width: 375px;
  height: 121px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Hotspot_4 {
  position: absolute;
  top: 547px;
  left: 0px;
  width: 375px;
  height: 121px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Tab-bar1 {
  position: absolute;
  top: 616px;
  left: 0px;
  width: 375px;
  height: 51px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Tab-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 50px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Tab-bar .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Tab-bar span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Tab-bar span#rtr-s-Tab-bar_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Group_2 {
  position: absolute;
  top: 8px;
  left: 7px;
  width: 59px;
  height: 39px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_469 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_469 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_469 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_469 span#rtr-s-Label_469_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_1 {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 59px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_1 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_1 span#rtr-s-Label_1_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Group_4 {
  position: absolute;
  top: 9px;
  left: 109px;
  width: 59px;
  height: 38px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_50 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_50 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_50 span#rtr-s-Label_50_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_2 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 59px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_2 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_2 span#rtr-s-Label_2_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Group_6 {
  position: absolute;
  top: 9px;
  left: 211px;
  width: 59px;
  height: 38px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_49 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_49 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_49 span#rtr-s-Label_49_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_5 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 59px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_5 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_5 span#rtr-s-Label_5_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Group_7 {
  position: absolute;
  top: 8px;
  left: 312px;
  width: 59px;
  height: 39px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_468 {
  position: absolute;
  top: 0px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_468 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_468 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_468 span#rtr-s-Label_468_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_9 {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 59px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_9 span {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Label_9 span#rtr-s-Label_9_0 {
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Dynamic_Panel_1 {
  position: absolute;
  top: 63px;
  left: 0px;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Panel_1 {
  width: 375px;
  height: 118px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 118px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Panel_2 {
  width: 375px;
  height: 118px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 118px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Panel_3 {
  width: 375px;
  height: 118px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 118px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-16c703a6-006b-47f8-b4b6-745b149e9d4c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}