#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Rich_text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Rich_text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label-red_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label-red_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label-red_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label-red_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-Label-red_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 #s-ok {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-16d454b1-896f-430a-aae9-08c3c56d77d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}