#s-2b2345e7-d375-4587-9648-501678097286 #s-Tab-bar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Label_469 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Label_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Label_468 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2b2345e7-d375-4587-9648-501678097286 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2b2345e7-d375-4587-9648-501678097286 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}