#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-button-back {
  position: absolute;
  top: 32px;
  left: 1px;
  width: 79px;
  height: 29px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_58 {
  position: absolute;
  top: 0px;
  left: 24px;
  width: 55px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_58 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_58 span#rtr-s-Label_58_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_59 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_59 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_59 span#rtr-s-Label_59_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_422 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_431 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Group_35 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 342px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Image_1 {
  position: absolute;
  top: 152px;
  left: 13px;
  width: 350px;
  height: 288px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Hotspot_1 {
  position: absolute;
  top: 317px;
  left: 6px;
  width: 80px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Hotspot_2 {
  position: absolute;
  top: 357px;
  left: 276px;
  width: 80px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Hotspot_3 {
  position: absolute;
  top: 188px;
  left: 276px;
  width: 80px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Tab2-icons-bar2 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 375px;
  height: 52px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rich_text_33 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 51px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rich_text_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rich_text_33 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Rich_text_33 span#rtr-s-Rich_text_33_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Tab2-icons-1 {
  position: absolute;
  top: 11px;
  left: 78px;
  width: 198px;
  height: 29px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_24 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 97px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_24 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_24 span#rtr-s-Label_24_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_33 {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 95px;
  height: 23px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_33 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_33 span#rtr-s-Label_33_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_171 {
  position: absolute;
  top: 81px;
  left: 213px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_171 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_171 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_171 span#rtr-s-Label_171_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_169 {
  position: absolute;
  top: 81px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_169 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_169 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-Label_169 span#rtr-s-Label_169_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-info-blue {
  position: absolute;
  top: 574px;
  left: 133px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-info-blue .valign {
  vertical-align: middle;
  text-align: left;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-info-blue span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 #s-info-blue span#rtr-s-info-blue_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-45cbe5cb-eb26-4be1-a8d0-4f81887654c0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}