#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label-red_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-75de5ac0-3b58-487a-8dff-8dd3f8ee10ca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}