#s-806fd311-7602-43b3-9a65-26c349c0d723 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 64px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_87 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_87 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-button-back {
  position: absolute;
  top: 32px;
  left: 1px;
  width: 79px;
  height: 29px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_58 {
  position: absolute;
  top: 0px;
  left: 24px;
  width: 55px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_58 span {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_58 span#rtr-s-Label_58_0 {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_59 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_59 span {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_59 span#rtr-s-Label_59_0 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_422 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_422 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_422 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_422 span#rtr-s-Label_422_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_431 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_431 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_431 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_431 span#rtr-s-Label_431_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_35 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Group_35 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_12 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_12 .content {
  width: 6px;
  height: 6px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_12 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_12 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_61 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_61 .content {
  width: 6px;
  height: 6px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_61 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_61 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_61 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_61 span#rtr-s-Ellipse_61_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_62 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_62 .content {
  width: 6px;
  height: 6px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_62 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_62 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_62 span#rtr-s-Ellipse_62_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_63 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_63 .content {
  width: 6px;
  height: 6px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_63 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_63 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_63 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_63 span#rtr-s-Ellipse_63_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_64 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_64 .content {
  width: 6px;
  height: 6px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Ellipse_64 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_64 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_64 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #shapewrapper-s-Ellipse_64 span#rtr-s-Ellipse_64_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_448 {
  position: absolute;
  top: 0px;
  left: 342px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_448 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_448 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_448 span#rtr-s-Label_448_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_71 {
  position: absolute;
  top: 0px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Label_71 span#rtr-s-Label_71_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rectangle_1 {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 375px;
  height: 120px;
  background-color: #FC361D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 53px;
  font-size: 28.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 28.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_43 {
  position: absolute;
  top: 211px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_43 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Group_1 {
  position: absolute;
  top: 188px;
  left: 0px;
  width: 375px;
  height: 96px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-List-item-6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_45 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_45 span#rtr-s-Rich_text_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Line_19 {
  position: absolute;
  top: 43px;
  left: 15px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_1 {
  position: absolute;
  top: 51px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Button-red {
  position: absolute;
  top: 4px;
  left: 282px;
  width: 65px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Button-red .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Button-red span {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Button-red span#rtr-s-Button-red_0 {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_2 {
  position: absolute;
  top: 51px;
  left: 199px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_3 {
  position: absolute;
  top: 78px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_4 {
  position: absolute;
  top: 78px;
  left: 199px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Group_2 {
  position: absolute;
  top: 292px;
  left: 0px;
  width: 375px;
  height: 96px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-List-item-6_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_46 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 360px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Rich_text_46 span#rtr-s-Rich_text_46_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Line_20 {
  position: absolute;
  top: 43px;
  left: 15px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Button-red_1 {
  position: absolute;
  top: 4px;
  left: 282px;
  width: 65px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DD3214;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DD3214;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DD3214;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DD3214;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Button-red_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Button-red_1 span {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Button-red_1 span#rtr-s-Button-red_1_0 {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_5 {
  position: absolute;
  top: 51px;
  left: 199px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_6 {
  position: absolute;
  top: 78px;
  left: 199px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_6 span#rtr-s-Text_6_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_7 {
  position: absolute;
  top: 51px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_11 {
  position: absolute;
  top: 78px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-806fd311-7602-43b3-9a65-26c349c0d723 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}