#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_431 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Ellipse_61 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Ellipse_62 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Ellipse_63 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Ellipse_64 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_448 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_304 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_213 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Label_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Button-black {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Button-black_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cad0a259-a020-46b9-bf6e-98d26932983b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}