<html>
  <body>
    <div class="ui-page">
         <div id="t-77b89be6-bd01-49c7-8759-9c1f5e60cbaa" class="template growth-both firer commentable" name="底部Bar">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/77b89be6-bd01-49c7-8759-9c1f5e60cbaa-1445822636718.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/77b89be6-bd01-49c7-8759-9c1f5e60cbaa-1445822636718-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/77b89be6-bd01-49c7-8759-9c1f5e60cbaa-1445822636718-ie8.css" /><![endif]-->
           <img id="t-Image_1" class="image firer ie-background commentable"   alt="image" src="./images/70b4b7d7-df13-4fba-9d73-b9980b41c2da.png"/>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>