@charset "utf-8";
@import url("../../resources/_jim/css/mobile/function-jim-mobile-ie8.css");
@import url("../../resources/_jim/css/mobile/ios/jim-ios-common-ie8-min.css");
@import url("../../resources/_jim/css/mobile/ios/ios8/iphone6/jim-iphone6-ie8-min.css");