body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-500px;
  width:780px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u15 {
  position:absolute;
  left:500px;
  top:0px;
  width:375px;
  height:24px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:645px;
}
#u17 {
  position:absolute;
  left:501px;
  top:23px;
  width:375px;
  height:645px;
}
#u18 {
  position:absolute;
  left:2px;
  top:315px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:525px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  color:#999999;
}
#u19 {
  position:absolute;
  left:500px;
  top:24px;
  width:375px;
  height:525px;
  opacity:0.57;
  color:#999999;
}
#u20 {
  position:absolute;
  left:2px;
  top:255px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u21 {
  position:absolute;
  left:645px;
  top:106px;
  width:85px;
  height:29px;
  font-family:'华文彩云 Regular', '华文彩云';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:56px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
}
#u23 {
  position:absolute;
  left:512px;
  top:223px;
  width:352px;
  height:56px;
}
#u24 {
  position:absolute;
  left:2px;
  top:20px;
  width:348px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:56px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
}
#u25 {
  position:absolute;
  left:512px;
  top:291px;
  width:352px;
  height:56px;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:348px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:512px;
  top:366px;
  width:352px;
  height:56px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:348px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u29 {
  position:absolute;
  left:512px;
  top:34px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u32 {
  position:absolute;
  left:903px;
  top:0px;
  width:377px;
  height:669px;
}
#u33 {
  position:absolute;
  left:2px;
  top:327px;
  width:373px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u34 {
  position:absolute;
  left:542px;
  top:41px;
  width:29px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u36 {
  position:absolute;
  left:669px;
  top:38px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
