body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-355px;
  width:720px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5353 {
  position:absolute;
  left:595px;
  top:439px;
  width:240px;
  height:36px;
}
#u5353_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:172px;
}
#u5354 {
  position:absolute;
  left:355px;
  top:195px;
  width:720px;
  height:172px;
}
#u5355 {
  position:absolute;
  left:2px;
  top:78px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u5356 {
  position:absolute;
  left:697px;
  top:399px;
  width:37px;
  height:24px;
  font-size:18px;
  color:#999999;
}
#u5357 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5358 {
  position:absolute;
  left:595px;
  top:485px;
  width:240px;
  height:36px;
}
#u5358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5359 {
  position:absolute;
  left:595px;
  top:584px;
  width:240px;
  height:40px;
  font-size:14px;
}
#u5360 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  word-wrap:break-word;
}
#u5361 {
  position:absolute;
  left:595px;
  top:539px;
  width:100px;
  height:16px;
  color:#999999;
}
#u5362 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5361_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
