<html>
  <body>
    <div class="ui-page">
         <div id="t-fd05f481-ba87-46a2-9d4f-7ec84c476832" class="template growth-both firer commentable" name="空白">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/fd05f481-ba87-46a2-9d4f-7ec84c476832-1444637758412.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/fd05f481-ba87-46a2-9d4f-7ec84c476832-1444637758412-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/fd05f481-ba87-46a2-9d4f-7ec84c476832-1444637758412-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>