body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7186 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:668px;
}
#u7187 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7188 {
  position:absolute;
  left:69px;
  top:142px;
  width:374px;
  height:64px;
}
#u7189 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u7190 {
  position:absolute;
  left:81px;
  top:173px;
  width:24px;
  height:23px;
}
#u7191 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7192 {
  position:absolute;
  left:223px;
  top:175px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7193 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u7194 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:24px;
}
#u7195 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u7197 {
  position:absolute;
  left:1037px;
  top:175px;
  width:482px;
  height:20px;
  color:#169BD5;
}
#u7198 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u7199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7199 {
  position:absolute;
  left:997px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#169BD5;
}
#u7200 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 8px;
  -ms-transform-origin:10px 8px;
  -moz-transform-origin:10px 8px;
  -webkit-transform-origin:10px 8px;
}
#u7202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 192, 193, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7202 {
  position:absolute;
  left:65px;
  top:20px;
  width:380px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7203 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u7204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7204 {
  position:absolute;
  left:445px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7205 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u7206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 185, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7206 {
  position:absolute;
  left:1525px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7207 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u7208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(227, 226, 219, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7208 {
  position:absolute;
  left:985px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7209 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u7210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7210 {
  position:absolute;
  left:2065px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7211 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u7213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u7213 {
  position:absolute;
  left:1577px;
  top:175px;
  width:482px;
  height:20px;
  color:#FF9900;
}
#u7214 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u7215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7215 {
  position:absolute;
  left:1537px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF9900;
}
#u7216 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 8px;
  -ms-transform-origin:10px 8px;
  -moz-transform-origin:10px 8px;
  -webkit-transform-origin:10px 8px;
}
#u7217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u7217 {
  position:absolute;
  left:431px;
  top:170px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u7218 {
  position:absolute;
  left:8px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:4px 9px;
  -ms-transform-origin:4px 9px;
  -moz-transform-origin:4px 9px;
  -webkit-transform-origin:4px 9px;
}
#u7219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u7219 {
  position:absolute;
  left:514px;
  top:175px;
  width:43px;
  height:20px;
  color:#FF00FF;
}
#u7220 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7221 {
  position:absolute;
  left:474px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u7222 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 8px;
  -ms-transform-origin:10px 8px;
  -moz-transform-origin:10px 8px;
  -webkit-transform-origin:10px 8px;
}
#u7223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u7223 {
  position:absolute;
  left:68px;
  top:209px;
  width:375px;
  height:45px;
  color:#666666;
  text-align:left;
}
#u7224 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u7225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7225 {
  position:absolute;
  left:409px;
  top:221px;
  width:22px;
  height:22px;
}
#u7226 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u7227 {
  position:absolute;
  left:205px;
  top:223px;
  width:200px;
  height:17px;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u7228 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u7229 {
  position:absolute;
  left:68px;
  top:256px;
  width:375px;
  height:45px;
  color:#666666;
  text-align:left;
}
#u7230 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u7231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7231 {
  position:absolute;
  left:409px;
  top:268px;
  width:22px;
  height:22px;
}
#u7232 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u7233 {
  position:absolute;
  left:205px;
  top:270px;
  width:200px;
  height:17px;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u7234 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7235 {
  position:absolute;
  left:391px;
  top:175px;
  width:33px;
  height:21px;
  font-size:16px;
}
#u7236 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
