body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5607 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
}
#u5608 {
  position:absolute;
  left:2px;
  top:24px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u5610 {
  position:absolute;
  left:22px;
  top:18px;
  width:85px;
  height:29px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5611 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u5612 {
  position:absolute;
  left:960px;
  top:0px;
  width:64px;
  height:64px;
}
#u5613 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5614 {
  position:absolute;
  left:858px;
  top:11px;
  width:85px;
  height:16px;
  color:#666666;
}
#u5615 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5616 {
  position:absolute;
  left:914px;
  top:37px;
  width:29px;
  height:16px;
  color:#666666;
}
#u5617 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5619 {
  position:absolute;
  left:0px;
  top:830px;
  width:1024px;
  height:64px;
  color:#FFFFFF;
}
#u5620 {
  position:absolute;
  left:2px;
  top:24px;
  width:1020px;
  word-wrap:break-word;
}
#u5621 {
  position:absolute;
  left:10px;
  top:200px;
}
#u5621_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5621_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:149px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5622 {
  position:absolute;
  left:0px;
  top:40px;
  width:1014px;
  height:149px;
}
#u5623 {
  position:absolute;
  left:2px;
  top:66px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5624 {
  position:absolute;
  left:12px;
  top:71px;
  width:29px;
  height:16px;
}
#u5625 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5626 {
  position:absolute;
  left:60px;
  top:61px;
  width:182px;
  height:36px;
}
#u5627 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5628 {
  position:absolute;
  left:62px;
  top:62px;
  width:178px;
  height:34px;
}
#u5628_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u5629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u5629 {
  position:absolute;
  left:904px;
  top:125px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u5630 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u5631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u5631 {
  position:absolute;
  left:904px;
  top:61px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u5632 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u5633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5633 {
  position:absolute;
  left:278px;
  top:71px;
  width:15px;
  height:16px;
}
#u5634 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5635 {
  position:absolute;
  left:316px;
  top:61px;
  width:182px;
  height:36px;
}
#u5636 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5637 {
  position:absolute;
  left:318px;
  top:62px;
  width:178px;
  height:34px;
}
#u5637_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u5638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5638 {
  position:absolute;
  left:0px;
  top:205px;
  width:1014px;
  height:171px;
}
#u5639 {
  position:absolute;
  left:2px;
  top:78px;
  width:1010px;
  word-wrap:break-word;
}
#u5640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5640 {
  position:absolute;
  left:29px;
  top:226px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5641 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u5642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5642 {
  position:absolute;
  left:116px;
  top:226px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5643 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5644 {
  position:absolute;
  left:904px;
  top:224px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5645 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u5646_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:990px;
  height:5px;
}
#u5646 {
  position:absolute;
  left:14px;
  top:252px;
  width:987px;
  height:2px;
}
#u5647 {
  position:absolute;
  left:2px;
  top:-7px;
  width:983px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5648 {
  position:absolute;
  left:29px;
  top:268px;
  width:9px;
  height:16px;
}
#u5649 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u5650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5650 {
  position:absolute;
  left:29px;
  top:305px;
  width:9px;
  height:16px;
}
#u5651 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u5652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5652 {
  position:absolute;
  left:29px;
  top:343px;
  width:9px;
  height:16px;
}
#u5653 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u5654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5654 {
  position:absolute;
  left:116px;
  top:268px;
  width:71px;
  height:16px;
}
#u5655 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5656 {
  position:absolute;
  left:904px;
  top:266px;
  width:71px;
  height:16px;
}
#u5657 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5658 {
  position:absolute;
  left:116px;
  top:305px;
  width:71px;
  height:16px;
}
#u5659 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5660 {
  position:absolute;
  left:904px;
  top:303px;
  width:71px;
  height:16px;
}
#u5661 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5662 {
  position:absolute;
  left:116px;
  top:343px;
  width:414px;
  height:16px;
}
#u5663 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u5664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5664 {
  position:absolute;
  left:904px;
  top:341px;
  width:71px;
  height:16px;
}
#u5665 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:2px;
}
#u5666 {
  position:absolute;
  left:14px;
  top:294px;
  width:987px;
  height:1px;
}
#u5667 {
  position:absolute;
  left:2px;
  top:-8px;
  width:983px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:2px;
}
#u5668 {
  position:absolute;
  left:12px;
  top:331px;
  width:989px;
  height:1px;
}
#u5669 {
  position:absolute;
  left:2px;
  top:-8px;
  width:985px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5671 {
  position:absolute;
  left:481px;
  top:564px;
  width:40px;
  height:36px;
}
#u5672 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5673 {
  position:absolute;
  left:639px;
  top:564px;
  width:40px;
  height:36px;
}
#u5674 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u5675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5675 {
  position:absolute;
  left:910px;
  top:564px;
  width:40px;
  height:36px;
}
#u5676 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5677 {
  position:absolute;
  left:561px;
  top:564px;
  width:40px;
  height:36px;
}
#u5678 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u5679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5679 {
  position:absolute;
  left:600px;
  top:564px;
  width:40px;
  height:36px;
}
#u5680 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u5681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5681 {
  position:absolute;
  left:678px;
  top:564px;
  width:40px;
  height:36px;
}
#u5682 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u5683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5683 {
  position:absolute;
  left:714px;
  top:564px;
  width:40px;
  height:36px;
}
#u5684 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u5685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5685 {
  position:absolute;
  left:753px;
  top:564px;
  width:40px;
  height:36px;
}
#u5686 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u5687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5687 {
  position:absolute;
  left:792px;
  top:564px;
  width:40px;
  height:36px;
}
#u5688 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u5689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5689 {
  position:absolute;
  left:831px;
  top:564px;
  width:40px;
  height:36px;
}
#u5690 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u5691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5691 {
  position:absolute;
  left:522px;
  top:564px;
  width:40px;
  height:36px;
}
#u5692 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u5693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5693 {
  position:absolute;
  left:870px;
  top:564px;
  width:40px;
  height:36px;
}
#u5694 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u5695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5695 {
  position:absolute;
  left:915px;
  top:567px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5696 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5697 {
  position:absolute;
  left:486px;
  top:567px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5698 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5699 {
  position:absolute;
  left:578px;
  top:226px;
  width:81px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5700 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u5701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5701 {
  position:absolute;
  left:561px;
  top:268px;
  width:120px;
  height:16px;
}
#u5702 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5703 {
  position:absolute;
  left:561px;
  top:305px;
  width:120px;
  height:16px;
}
#u5704 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5705 {
  position:absolute;
  left:561px;
  top:343px;
  width:120px;
  height:16px;
}
#u5706 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u5707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5707 {
  position:absolute;
  left:742px;
  top:268px;
  width:60px;
  height:16px;
}
#u5708 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5709 {
  position:absolute;
  left:742px;
  top:226px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5710 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5711 {
  position:absolute;
  left:742px;
  top:305px;
  width:60px;
  height:16px;
}
#u5712 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5713 {
  position:absolute;
  left:742px;
  top:343px;
  width:60px;
  height:16px;
}
#u5714 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5715 {
  position:absolute;
  left:10px;
  top:0px;
  width:340px;
  height:16px;
  color:#999999;
}
#u5716 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u5717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5717 {
  position:absolute;
  left:415px;
  top:226px;
  width:81px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5718 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u5719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5719 {
  position:absolute;
  left:415px;
  top:268px;
  width:64px;
  height:16px;
}
#u5720 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u5721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5721 {
  position:absolute;
  left:415px;
  top:305px;
  width:64px;
  height:16px;
}
#u5722 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u5723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5723 {
  position:absolute;
  left:415px;
  top:343px;
  width:71px;
  height:16px;
}
#u5724 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5621_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5621_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:149px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5725 {
  position:absolute;
  left:0px;
  top:31px;
  width:1014px;
  height:149px;
}
#u5726 {
  position:absolute;
  left:2px;
  top:66px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u5727 {
  position:absolute;
  left:904px;
  top:116px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u5728 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u5729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u5729 {
  position:absolute;
  left:904px;
  top:52px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u5730 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u5731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5731 {
  position:absolute;
  left:10px;
  top:0px;
  width:340px;
  height:16px;
  color:#999999;
}
#u5732 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u5733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5733 {
  position:absolute;
  left:374px;
  top:191px;
  width:120px;
  height:60px;
  font-size:14px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:-2px;
  width:116px;
  word-wrap:break-word;
}
#u5735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5735 {
  position:absolute;
  left:374px;
  top:321px;
  width:120px;
  height:60px;
}
#u5736 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u5737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5737 {
  position:absolute;
  left:229px;
  top:321px;
  width:120px;
  height:60px;
}
#u5738 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u5739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5739 {
  position:absolute;
  left:519px;
  top:321px;
  width:120px;
  height:60px;
}
#u5740 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u5741 {
  position:absolute;
  left:434px;
  top:251px;
  width:0px;
  height:0px;
}
#u5741_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:58px;
}
#u5741_seg1 {
  position:absolute;
  left:-149px;
  top:46px;
  width:153px;
  height:8px;
}
#u5741_seg2 {
  position:absolute;
  left:-149px;
  top:46px;
  width:8px;
  height:28px;
}
#u5741_seg3 {
  position:absolute;
  left:-159px;
  top:53px;
  width:28px;
  height:28px;
}
#u5742 {
  position:absolute;
  left:-108px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5743 {
  position:absolute;
  left:434px;
  top:251px;
  width:0px;
  height:0px;
}
#u5743_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:78px;
}
#u5743_seg1 {
  position:absolute;
  left:-14px;
  top:53px;
  width:28px;
  height:28px;
}
#u5744 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5745 {
  position:absolute;
  left:434px;
  top:251px;
  width:0px;
  height:0px;
}
#u5745_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:58px;
}
#u5745_seg1 {
  position:absolute;
  left:-4px;
  top:46px;
  width:153px;
  height:8px;
}
#u5745_seg2 {
  position:absolute;
  left:141px;
  top:46px;
  width:8px;
  height:28px;
}
#u5745_seg3 {
  position:absolute;
  left:131px;
  top:53px;
  width:28px;
  height:28px;
}
#u5746 {
  position:absolute;
  left:8px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5747 {
  position:absolute;
  left:10px;
  top:62px;
  width:29px;
  height:16px;
}
#u5748 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5749 {
  position:absolute;
  left:58px;
  top:52px;
  width:179px;
  height:36px;
}
#u5750 {
  position:absolute;
  left:2px;
  top:10px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5751 {
  position:absolute;
  left:60px;
  top:53px;
  width:176px;
  height:34px;
}
#u5751_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u5752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u5752 {
  position:absolute;
  left:213px;
  top:66px;
  width:12px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#000000;
}
#u5753 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5754 {
  position:absolute;
  left:10px;
  top:126px;
  width:29px;
  height:16px;
}
#u5755 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5756 {
  position:absolute;
  left:58px;
  top:116px;
  width:182px;
  height:36px;
}
#u5757 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5758 {
  position:absolute;
  left:60px;
  top:117px;
  width:178px;
  height:34px;
}
#u5758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u5759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5759 {
  position:absolute;
  left:276px;
  top:126px;
  width:15px;
  height:16px;
}
#u5760 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5761 {
  position:absolute;
  left:314px;
  top:116px;
  width:182px;
  height:36px;
}
#u5762 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5763 {
  position:absolute;
  left:316px;
  top:117px;
  width:178px;
  height:34px;
}
#u5763_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u5764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:2px;
}
#u5764 {
  position:absolute;
  left:0px;
  top:96px;
  width:1024px;
  height:1px;
}
#u5765 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5766 {
  position:absolute;
  left:20px;
  top:74px;
  width:57px;
  height:16px;
}
#u5767 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5768 {
  position:absolute;
  left:87px;
  top:74px;
  width:5px;
  height:16px;
}
#u5769 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u5770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5770 {
  position:absolute;
  left:101px;
  top:74px;
  width:57px;
  height:16px;
}
#u5771 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5772 {
  position:absolute;
  left:168px;
  top:74px;
  width:5px;
  height:16px;
}
#u5773 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u5774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5774 {
  position:absolute;
  left:182px;
  top:74px;
  width:57px;
  height:16px;
}
#u5775 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:64px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5776 {
  position:absolute;
  left:20px;
  top:107px;
  width:1004px;
  height:64px;
}
#u5777 {
  position:absolute;
  left:2px;
  top:24px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5778 {
  position:absolute;
  left:38px;
  top:131px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5779 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5780 {
  position:absolute;
  left:182px;
  top:131px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5781 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
