body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5227 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:668px;
}
#u5228 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5229 {
  position:absolute;
  left:69px;
  top:142px;
  width:374px;
  height:64px;
}
#u5230 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u5231 {
  position:absolute;
  left:81px;
  top:173px;
  width:24px;
  height:23px;
}
#u5232 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5233 {
  position:absolute;
  left:223px;
  top:174px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5234 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u5235 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:24px;
}
#u5236 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u5238 {
  position:absolute;
  left:1037px;
  top:175px;
  width:482px;
  height:20px;
  color:#169BD5;
}
#u5239 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5240 {
  position:absolute;
  left:997px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#169BD5;
}
#u5241 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u5243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 192, 193, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5243 {
  position:absolute;
  left:65px;
  top:20px;
  width:380px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u5244 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u5245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5245 {
  position:absolute;
  left:445px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u5246 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u5247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 185, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5247 {
  position:absolute;
  left:1525px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u5248 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u5249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(227, 226, 219, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5249 {
  position:absolute;
  left:985px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u5250 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u5251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5251 {
  position:absolute;
  left:2065px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u5252 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u5254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u5254 {
  position:absolute;
  left:1577px;
  top:175px;
  width:482px;
  height:20px;
  color:#FF9900;
}
#u5255 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u5256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5256 {
  position:absolute;
  left:1537px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF9900;
}
#u5257 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5258 {
  position:absolute;
  left:400px;
  top:173px;
  width:24px;
  height:24px;
}
#u5259 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u5260 {
  position:absolute;
  left:433px;
  top:170px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u5261 {
  position:absolute;
  left:8px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:4px 9px;
  -ms-transform-origin:4px 9px;
  -moz-transform-origin:4px 9px;
  -webkit-transform-origin:4px 9px;
}
#u5262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u5262 {
  position:absolute;
  left:516px;
  top:175px;
  width:99px;
  height:20px;
  color:#FF00FF;
}
#u5263 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5264 {
  position:absolute;
  left:476px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u5265 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u5266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5266 {
  position:absolute;
  left:68px;
  top:209px;
  width:375px;
  height:32px;
}
#u5267 {
  position:absolute;
  left:2px;
  top:8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5268 {
  position:absolute;
  left:75px;
  top:217px;
  width:60px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u5269 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u5270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5270 {
  position:absolute;
  left:68px;
  top:244px;
  width:375px;
  height:56px;
}
#u5271 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5272 {
  position:absolute;
  left:385px;
  top:262px;
  width:45px;
  height:20px;
}
#u5273 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5274 {
  position:absolute;
  left:85px;
  top:262px;
  width:58px;
  height:20px;
}
#u5275 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u5276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5276 {
  position:absolute;
  left:225px;
  top:262px;
  width:57px;
  height:20px;
}
#u5277 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u5278 {
  position:absolute;
  left:433px;
  top:211px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u5279 {
  position:absolute;
  left:8px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:4px 9px;
  -ms-transform-origin:4px 9px;
  -moz-transform-origin:4px 9px;
  -webkit-transform-origin:4px 9px;
}
#u5280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u5280 {
  position:absolute;
  left:516px;
  top:216px;
  width:239px;
  height:20px;
  color:#FF00FF;
}
#u5281 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u5282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5282 {
  position:absolute;
  left:476px;
  top:214px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u5283 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u5284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u5284 {
  position:absolute;
  left:433px;
  top:257px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u5285 {
  position:absolute;
  left:8px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:4px 9px;
  -ms-transform-origin:4px 9px;
  -moz-transform-origin:4px 9px;
  -webkit-transform-origin:4px 9px;
}
#u5286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u5286 {
  position:absolute;
  left:516px;
  top:262px;
  width:295px;
  height:20px;
  color:#FF00FF;
}
#u5287 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u5288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5288 {
  position:absolute;
  left:476px;
  top:260px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u5289 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
