#jim-container.touch { cursor: url('./resources/_jim/css/images/touch.cur'), default !important; }
#jim-container { cursor: url('./resources/_jim/css/images/blank.cur'), default !important; }
.dropdown .dropdown-options { filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
.dropdown .icon { padding-right: 20px; }