body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6175 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:668px;
}
#u6176 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u6177 {
  position:absolute;
  left:456px;
  top:170px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u6178 {
  position:absolute;
  left:8px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:4px 9px;
  -ms-transform-origin:4px 9px;
  -moz-transform-origin:4px 9px;
  -webkit-transform-origin:4px 9px;
}
#u6179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u6179 {
  position:absolute;
  left:539px;
  top:175px;
  width:37px;
  height:20px;
  color:#FF00FF;
}
#u6180 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6181 {
  position:absolute;
  left:499px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u6182 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 8px;
  -ms-transform-origin:10px 8px;
  -moz-transform-origin:10px 8px;
  -webkit-transform-origin:10px 8px;
}
#u6183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6183 {
  position:absolute;
  left:69px;
  top:142px;
  width:374px;
  height:64px;
}
#u6184 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u6185 {
  position:absolute;
  left:81px;
  top:173px;
  width:24px;
  height:23px;
}
#u6186 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6187 {
  position:absolute;
  left:239px;
  top:175px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6188 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u6189 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:24px;
}
#u6190 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u6192 {
  position:absolute;
  left:1037px;
  top:175px;
  width:482px;
  height:20px;
  color:#169BD5;
}
#u6193 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u6194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6194 {
  position:absolute;
  left:997px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#169BD5;
}
#u6195 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 8px;
  -ms-transform-origin:10px 8px;
  -moz-transform-origin:10px 8px;
  -webkit-transform-origin:10px 8px;
}
#u6197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 192, 193, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6197 {
  position:absolute;
  left:65px;
  top:20px;
  width:380px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u6198 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u6199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6199 {
  position:absolute;
  left:445px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u6200 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u6201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 185, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6201 {
  position:absolute;
  left:1525px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u6202 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u6203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(227, 226, 219, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6203 {
  position:absolute;
  left:985px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u6204 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u6205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6205 {
  position:absolute;
  left:2065px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u6206 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u6208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u6208 {
  position:absolute;
  left:1577px;
  top:175px;
  width:482px;
  height:20px;
  color:#FF9900;
}
#u6209 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u6210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6210 {
  position:absolute;
  left:1537px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF9900;
}
#u6211 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 8px;
  -ms-transform-origin:10px 8px;
  -moz-transform-origin:10px 8px;
  -webkit-transform-origin:10px 8px;
}
#u6212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6212 {
  position:absolute;
  left:76px;
  top:216px;
  width:120px;
  height:29px;
  font-size:14px;
}
#u6213 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u6214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6214 {
  position:absolute;
  left:196px;
  top:216px;
  width:120px;
  height:29px;
  font-size:14px;
  color:#FFFFFF;
}
#u6215 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u6216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6216 {
  position:absolute;
  left:316px;
  top:216px;
  width:120px;
  height:29px;
  font-size:14px;
}
#u6217 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
