body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u2 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:153px;
  width:335px;
  height:47px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#3399FF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:168px;
  top:170px;
  width:72px;
  height:19px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:46px;
  top:300px;
  width:84px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:40px;
  top:299px;
  width:4px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
}
#u10 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:246px;
  top:840px;
  width:45px;
  height:16px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:51px;
  top:840px;
  width:15px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u14 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:86px;
  top:840px;
  width:150px;
  height:16px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:53px;
  top:855px;
  width:10px;
  height:80px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:63px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:80px;
}
#u18 {
  position:absolute;
  left:51px;
  top:892px;
  width:15px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:248px;
  top:893px;
  width:38px;
  height:16px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:86px;
  top:893px;
  width:134px;
  height:16px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:35px;
  top:206px;
  width:320px;
  height:83px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u25 {
  position:absolute;
  left:60px;
  top:34px;
  width:258px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:42px;
  top:215px;
  width:60px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:37px;
  top:323px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u29 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:99px;
  top:362px;
  width:257px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u31 {
  position:absolute;
  left:52px;
  top:331px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:37px;
  top:367px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u34 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:99px;
  top:406px;
  width:257px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u36 {
  position:absolute;
  left:52px;
  top:375px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:37px;
  top:411px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u39 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:99px;
  top:450px;
  width:257px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u41 {
  position:absolute;
  left:52px;
  top:419px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:37px;
  top:455px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u44 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:99px;
  top:494px;
  width:257px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u46 {
  position:absolute;
  left:52px;
  top:463px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:37px;
  top:499px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u49 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:99px;
  top:538px;
  width:257px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u51 {
  position:absolute;
  left:52px;
  top:507px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:37px;
  top:543px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u54 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:99px;
  top:582px;
  width:257px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u56 {
  position:absolute;
  left:52px;
  top:551px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u57 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:323px;
  top:337px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u59 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:323px;
  top:382px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u61 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:323px;
  top:425px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u63 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:323px;
  top:470px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u65 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:323px;
  top:514px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u67 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:323px;
  top:558px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:36px;
  top:675px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u71 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:98px;
  top:714px;
  width:257px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u73 {
  position:absolute;
  left:51px;
  top:683px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:322px;
  top:690px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u76 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:36px;
  top:719px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u78 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:98px;
  top:758px;
  width:257px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u80 {
  position:absolute;
  left:51px;
  top:727px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u81 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:322px;
  top:734px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u83 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:241px;
  top:693px;
  width:71px;
  height:16px;
  color:#999999;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:36px;
  top:587px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u87 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:98px;
  top:626px;
  width:257px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u89 {
  position:absolute;
  left:51px;
  top:595px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:322px;
  top:602px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u92 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:36px;
  top:631px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u94 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:98px;
  top:670px;
  width:257px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u96 {
  position:absolute;
  left:51px;
  top:639px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:322px;
  top:646px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u99 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:36px;
  top:763px;
  width:320px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u101 {
  position:absolute;
  left:60px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:98px;
  top:802px;
  width:257px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:257px;
  height:1px;
}
#u103 {
  position:absolute;
  left:51px;
  top:771px;
  width:32px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#666666;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:322px;
  top:778px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u106 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:42px;
  top:814px;
  width:84px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:36px;
  top:813px;
  width:4px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
}
#u110 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:322px;
  top:240px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u112 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:86px;
  top:867px;
  width:256px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:238px;
  top:778px;
  width:74px;
  height:16px;
  color:#999999;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:190px;
  top:734px;
  width:122px;
  height:16px;
  color:#999999;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:276px;
  top:646px;
  width:36px;
  height:16px;
  color:#999999;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:260px;
  top:602px;
  width:52px;
  height:16px;
  color:#999999;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:260px;
  top:558px;
  width:52px;
  height:16px;
  color:#999999;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:260px;
  top:514px;
  width:52px;
  height:16px;
  color:#999999;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:294px;
  top:470px;
  width:18px;
  height:16px;
  color:#999999;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:263px;
  top:424px;
  width:49px;
  height:16px;
  color:#999999;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:295px;
  top:380px;
  width:17px;
  height:16px;
  color:#999999;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:284px;
  top:338px;
  width:28px;
  height:16px;
  color:#999999;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:310px;
  top:840px;
  width:32px;
  height:16px;
  color:#999999;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:307px;
  top:893px;
  width:32px;
  height:16px;
  color:#999999;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:86px;
  top:919px;
  width:256px;
  height:16px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:438px;
  top:134px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:490px;
  top:134px;
  width:53px;
  height:16px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:438px;
  top:160px;
  width:320px;
  height:83px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:83px;
}
#u146 {
  position:absolute;
  left:60px;
  top:34px;
  width:258px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:445px;
  top:169px;
  width:60px;
  height:60px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u148 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:725px;
  top:194px;
  width:16px;
  height:16px;
  font-size:14px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u150 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:490px;
  top:264px;
  width:108px;
  height:16px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:617px;
  top:264px;
  width:66px;
  height:16px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:445px;
  top:290px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:515px;
  top:290px;
  width:92px;
  height:16px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:515px;
  top:323px;
  width:196px;
  height:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:445px;
  top:362px;
  width:525px;
  height:1300px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:1300px;
}
#u162 {
  position:absolute;
  left:2px;
  top:642px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
