#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Label_246 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Label_226 {
  -ms-transform: rotate(0.0deg);
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d8bb904b-128d-4153-8f26-fb3b35ea28b0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}