body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u2866 {
  position:absolute;
  left:100px;
  top:0px;
  width:394px;
  height:834px;
}
#u2867 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u2868 {
  position:absolute;
  left:144px;
  top:164px;
  width:256px;
  height:26px;
  color:#999999;
  text-align:left;
}
#u2869 {
  position:absolute;
  left:2px;
  top:5px;
  width:252px;
  word-wrap:break-word;
}
#u2870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2870 {
  position:absolute;
  left:153px;
  top:165px;
  width:24px;
  height:24px;
}
#u2871 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2872 {
  position:absolute;
  left:413px;
  top:169px;
  width:37px;
  height:16px;
}
#u2873 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u2874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2874 {
  position:absolute;
  left:153px;
  top:211px;
  width:67px;
  height:16px;
  color:#999999;
}
#u2875 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u2876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:2px;
}
#u2876 {
  position:absolute;
  left:153px;
  top:240px;
  width:307px;
  height:1px;
}
#u2877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2878 {
  position:absolute;
  left:163px;
  top:255px;
  width:47px;
  height:16px;
}
#u2879 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u2880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:2px;
}
#u2880 {
  position:absolute;
  left:153px;
  top:286px;
  width:307px;
  height:1px;
}
#u2881 {
  position:absolute;
  left:2px;
  top:-8px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2882 {
  position:absolute;
  left:163px;
  top:301px;
  width:27px;
  height:16px;
}
#u2883 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:2px;
}
#u2884 {
  position:absolute;
  left:153px;
  top:332px;
  width:307px;
  height:1px;
}
#u2885 {
  position:absolute;
  left:2px;
  top:-8px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9933;
}
#u2886 {
  position:absolute;
  left:230px;
  top:420px;
  width:130px;
  height:30px;
  color:#FF9933;
}
#u2887 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
