#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Table_1 {
  border-collapse: separate;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Cell_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Cell_1 > .valign {
  vertical-align: middle;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Cell_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Cell_3 > .valign {
  vertical-align: middle;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Cell_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Cell_4 > .valign {
  vertical-align: middle;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Cell_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Cell_5 > .valign {
  vertical-align: middle;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Cell_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Cell_2 > .valign {
  vertical-align: middle;
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb #t-Rectangle_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}