body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1086 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:668px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:69px;
  top:142px;
  width:374px;
  height:64px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u1090 {
  position:absolute;
  left:81px;
  top:173px;
  width:24px;
  height:23px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1092 {
  position:absolute;
  left:224px;
  top:175px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u1094 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:24px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u1097 {
  position:absolute;
  left:1037px;
  top:175px;
  width:482px;
  height:20px;
  color:#169BD5;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1099 {
  position:absolute;
  left:997px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#169BD5;
}
#u1100 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 192, 193, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1102 {
  position:absolute;
  left:65px;
  top:20px;
  width:380px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u1103 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1104 {
  position:absolute;
  left:445px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u1105 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 185, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1106 {
  position:absolute;
  left:1525px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u1107 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(227, 226, 219, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1108 {
  position:absolute;
  left:985px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u1109 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1110 {
  position:absolute;
  left:2065px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u1111 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u1113 {
  position:absolute;
  left:1577px;
  top:175px;
  width:482px;
  height:20px;
  color:#FF9900;
}
#u1114 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1115 {
  position:absolute;
  left:1537px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF9900;
}
#u1116 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
.u1119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1119 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:120px;
}
.u1120 {
  position:absolute;
  left:2px;
  top:52px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u1121 {
  position:absolute;
  left:107px;
  top:11px;
  width:65px;
  height:21px;
  font-size:16px;
}
.u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
.u1123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1123 {
  position:absolute;
  left:107px;
  top:42px;
  width:268px;
  height:17px;
  font-size:12px;
}
.u1124 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
.u1125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u1126 {
  position:absolute;
  left:107px;
  top:68px;
  width:16px;
  height:16px;
}
.u1127 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u1128 {
  position:absolute;
  left:132px;
  top:68px;
  width:16px;
  height:16px;
}
.u1129 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u1130 {
  position:absolute;
  left:156px;
  top:68px;
  width:16px;
  height:16px;
}
.u1131 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u1132 {
  position:absolute;
  left:181px;
  top:68px;
  width:16px;
  height:16px;
}
.u1133 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u1134 {
  position:absolute;
  left:206px;
  top:68px;
  width:16px;
  height:16px;
}
.u1135 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u1137 {
  position:absolute;
  left:175px;
  top:94px;
  width:16px;
  height:16px;
}
.u1138 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
.u1139 {
  position:absolute;
  left:107px;
  top:94px;
  width:17px;
  height:17px;
}
.u1140 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1141 {
  position:absolute;
  left:132px;
  top:94px;
  width:34px;
  height:17px;
  font-size:12px;
}
.u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
.u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1143 {
  position:absolute;
  left:199px;
  top:94px;
  width:34px;
  height:17px;
  font-size:12px;
}
.u1144 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
.u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1145 {
  position:absolute;
  left:266px;
  top:94px;
  width:34px;
  height:17px;
  font-size:12px;
}
.u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
.u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u1147 {
  position:absolute;
  left:242px;
  top:94px;
  width:16px;
  height:16px;
}
.u1148 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1150 {
  position:absolute;
  left:0px;
  top:11px;
  width:100px;
  height:100px;
}
.u1151 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
.u1152 {
  position:absolute;
  left:14px;
  top:65px;
  width:29px;
  height:16px;
}
.u1153 {
  position:absolute;
  left:2px;
  top:0px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:31px;
}
.u1154 {
  position:absolute;
  left:29px;
  top:49px;
  width:58px;
  height:31px;
}
.u1155 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
.u1156 {
  position:absolute;
  left:21px;
  top:41px;
  width:11px;
  height:11px;
}
.u1157 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1158 {
  position:absolute;
  left:232px;
  top:68px;
  width:30px;
  height:17px;
  font-size:12px;
}
.u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
.u1160 {
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1117-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:121px;
}
#u1117-2 {
  position:absolute;
  left:0px;
  top:121px;
  width:375px;
  height:121px;
}
#u1117-3 {
  position:absolute;
  left:0px;
  top:242px;
  width:375px;
  height:121px;
}
#u1117-4 {
  position:absolute;
  left:0px;
  top:363px;
  width:375px;
  height:121px;
}
#u1117 {
  position:absolute;
  left:68px;
  top:262px;
  width:375px;
  height:484px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1162 {
  position:absolute;
  left:68px;
  top:209px;
  width:375px;
  height:50px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1164 {
  position:absolute;
  left:82px;
  top:224px;
  width:31px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1165 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1166 {
  position:absolute;
  left:192px;
  top:224px;
  width:31px;
  height:20px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1168 {
  position:absolute;
  left:247px;
  top:224px;
  width:31px;
  height:20px;
}
#u1169 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1170 {
  position:absolute;
  left:137px;
  top:224px;
  width:31px;
  height:20px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1172 {
  position:absolute;
  left:302px;
  top:226px;
  width:63px;
  height:16px;
  color:#FF9966;
}
#u1173 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1172_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1175 {
  position:absolute;
  left:389px;
  top:224px;
  width:20px;
  height:20px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u1177 {
  position:absolute;
  left:410px;
  top:226px;
  width:27px;
  height:16px;
}
#u1178 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1179 {
  position:absolute;
  left:401px;
  top:174px;
  width:24px;
  height:24px;
}
#u1180 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u1181 {
  position:absolute;
  left:431px;
  top:170px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u1182 {
  position:absolute;
  left:8px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:4px 9px;
  -ms-transform-origin:4px 9px;
  -moz-transform-origin:4px 9px;
  -webkit-transform-origin:4px 9px;
}
#u1183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u1183 {
  position:absolute;
  left:514px;
  top:175px;
  width:99px;
  height:20px;
  color:#FF00FF;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1185 {
  position:absolute;
  left:474px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u1186 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u1187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u1187 {
  position:absolute;
  left:431px;
  top:219px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u1188 {
  position:absolute;
  left:8px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:4px 9px;
  -ms-transform-origin:4px 9px;
  -moz-transform-origin:4px 9px;
  -webkit-transform-origin:4px 9px;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u1189 {
  position:absolute;
  left:514px;
  top:224px;
  width:393px;
  height:20px;
  color:#FF00FF;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1191 {
  position:absolute;
  left:474px;
  top:222px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u1192 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:490px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1193 {
  position:absolute;
  left:514px;
  top:276px;
  width:280px;
  height:490px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:237px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u1195 {
  position:absolute;
  left:532px;
  top:290px;
  width:24px;
  height:23px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  position:absolute;
  left:640px;
  top:292px;
  width:29px;
  height:20px;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1199 {
  position:absolute;
  left:515px;
  top:325px;
  width:280px;
  height:42px;
  text-align:left;
}
#u1200 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1201 {
  position:absolute;
  left:515px;
  top:366px;
  width:280px;
  height:42px;
  text-align:left;
}
#u1202 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u1203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1203 {
  position:absolute;
  left:515px;
  top:407px;
  width:280px;
  height:42px;
  text-align:left;
}
#u1204 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  position:absolute;
  left:515px;
  top:716px;
  width:280px;
  height:50px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:16px;
  width:276px;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1207 {
  position:absolute;
  left:764px;
  top:416px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u1208 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
