#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 #t-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-07bfd652-230b-46ce-813c-ad98dc530043 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}