body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-233px;
  width:1267px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u2980 {
  position:absolute;
  left:500px;
  top:0px;
  width:375px;
  height:24px;
}
#u2981 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u2982 {
  position:absolute;
  left:1445px;
  top:325px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u2983 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u2984 {
  position:absolute;
  left:233px;
  top:325px;
  width:62px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u2985 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:24px;
}
#u2986 {
  position:absolute;
  left:663px;
  top:34px;
  width:49px;
  height:28px;
  font-size:24px;
}
#u2987 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2988p000 {
  position:absolute;
  left:499px;
  top:71px;
  width:379px;
  height:3px;
}
#u2988p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:3px;
}
#u2988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2989 {
  position:absolute;
  left:502px;
  top:64px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2991 {
  position:absolute;
  left:510px;
  top:37px;
  width:22px;
  height:22px;
}
#u2992 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u2993 {
  position:absolute;
  left:528px;
  top:37px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u2994 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  line-height:20px;
}
#u2995 {
  position:absolute;
  left:500px;
  top:74px;
  width:375px;
  height:147px;
  line-height:20px;
}
#u2996 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u2997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u2997 {
  position:absolute;
  left:631px;
  top:250px;
  width:113px;
  height:16px;
}
#u2998 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
