body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1502px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:804px;
  background:inherit;
  background-color:rgba(59, 79, 114, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21154 {
  position:absolute;
  left:0px;
  top:103px;
  width:220px;
  height:804px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21155 {
  position:absolute;
  left:2px;
  top:392px;
  width:216px;
  word-wrap:break-word;
}
#u21156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1264px;
  height:2px;
}
#u21156 {
  position:absolute;
  left:239px;
  top:869px;
  width:1263px;
  height:1px;
  color:#999999;
}
#u21157 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u21158 {
  position:absolute;
  left:761px;
  top:885px;
  width:214px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u21159 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u21160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:103px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u21160 {
  position:absolute;
  left:0px;
  top:0px;
  width:1502px;
  height:103px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u21161 {
  position:absolute;
  left:2px;
  top:34px;
  width:1498px;
  word-wrap:break-word;
}
#u21162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1283px;
  height:45px;
}
#u21162 {
  position:absolute;
  left:219px;
  top:103px;
  width:1283px;
  height:45px;
}
#u21163 {
  position:absolute;
  left:2px;
  top:14px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21164 {
  position:absolute;
  left:237px;
  top:112px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21165 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u21167 {
  position:absolute;
  left:341px;
  top:186px;
  width:250px;
  height:29px;
}
#u21167_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u21167.selected {
}
#u21168 {
  position:absolute;
  left:20px;
  top:6px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21169 {
  position:absolute;
  left:349px;
  top:185px;
  width:233px;
  height:30px;
}
#u21169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u21170 {
  position:absolute;
  left:262px;
  top:190px;
  width:69px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u21171 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u21172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u21173 {
  position:absolute;
  left:342px;
  top:226px;
  width:249px;
  height:29px;
}
#u21173_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 175, 233, 1);
  border-radius:4px;
  -moz-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 6px rgba(102, 175, 233, 0.6), 0px 1px 3px -2px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u21173.selected {
}
#u21174 {
  position:absolute;
  left:20px;
  top:6px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21175 {
  position:absolute;
  left:350px;
  top:225px;
  width:232px;
  height:30px;
}
#u21175_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u21176 {
  position:absolute;
  left:263px;
  top:230px;
  width:69px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u21177 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u21178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 126, 189, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u21178 {
  position:absolute;
  left:493px;
  top:282px;
  width:45px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u21178_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(50, 118, 177, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 94, 142, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u21178.mouseOver {
}
#u21178_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(50, 118, 177, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 94, 142, 1);
  border-radius:3px;
  -moz-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -3px rgba(51, 51, 51, 0.349019607843137) inset;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u21178.mouseDown {
}
#u21178_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 126, 189, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u21178.disabled {
  opacity:0.5;
}
#u21179 {
  position:absolute;
  left:10px;
  top:5px;
  width:25px;
  white-space:nowrap;
}
#u21180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:18px;
}
#u21180 {
  position:absolute;
  left:548px;
  top:282px;
  width:45px;
  height:28px;
  font-size:12px;
  line-height:18px;
}
#u21180_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:18px;
}
#u21180.mouseOver {
}
#u21180_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:3px;
  -moz-box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  -webkit-box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  box-shadow:0px 3px 5px -2px rgba(51, 51, 51, 0.349019607843137) inset;
  font-size:12px;
  line-height:18px;
}
#u21180.mouseDown {
}
#u21180_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:18px;
}
#u21180.disabled {
  opacity:0.5;
}
#u21181 {
  position:absolute;
  left:10px;
  top:5px;
  width:25px;
  white-space:nowrap;
}
#u21182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u21182 {
  position:absolute;
  left:613px;
  top:189px;
  width:91px;
  height:20px;
  color:#FF0000;
}
#u21183 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u21184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u21184 {
  position:absolute;
  left:613px;
  top:228px;
  width:91px;
  height:20px;
  color:#FF0000;
}
#u21185 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
