body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4584 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:668px;
}
#u4585 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4586 {
  position:absolute;
  left:69px;
  top:142px;
  width:374px;
  height:64px;
}
#u4587 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u4588 {
  position:absolute;
  left:81px;
  top:173px;
  width:24px;
  height:23px;
}
#u4589 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4590 {
  position:absolute;
  left:239px;
  top:175px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4591 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u4592 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:24px;
}
#u4593 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u4595 {
  position:absolute;
  left:1037px;
  top:175px;
  width:482px;
  height:20px;
  color:#169BD5;
}
#u4596 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u4597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4597 {
  position:absolute;
  left:997px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#169BD5;
}
#u4598 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u4600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 192, 193, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4600 {
  position:absolute;
  left:65px;
  top:20px;
  width:380px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u4601 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u4602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4602 {
  position:absolute;
  left:445px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u4603 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u4604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 185, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4604 {
  position:absolute;
  left:1525px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u4605 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u4606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(227, 226, 219, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4606 {
  position:absolute;
  left:985px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u4607 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u4608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4608 {
  position:absolute;
  left:2065px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u4609 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u4611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u4611 {
  position:absolute;
  left:1577px;
  top:175px;
  width:482px;
  height:20px;
  color:#FF9900;
}
#u4612 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u4613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4613 {
  position:absolute;
  left:1537px;
  top:173px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF9900;
}
#u4614 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u4615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:248px;
}
#u4615 {
  position:absolute;
  left:499px;
  top:311px;
  width:320px;
  height:248px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4616 {
  position:absolute;
  left:2px;
  top:116px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u4617 {
  position:absolute;
  left:503px;
  top:510px;
  width:311px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u4618 {
  position:absolute;
  left:2px;
  top:12px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u4619 {
  position:absolute;
  left:504px;
  top:357px;
  width:311px;
  height:141px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u4620 {
  position:absolute;
  left:2px;
  top:62px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u4621 {
  position:absolute;
  left:503px;
  top:406px;
  width:311px;
  height:1px;
}
#u4622 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:center;
}
#u4623 {
  position:absolute;
  left:579px;
  top:373px;
  width:159px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:center;
}
#u4624 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u4625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:center;
}
#u4625 {
  position:absolute;
  left:579px;
  top:421px;
  width:159px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:center;
}
#u4626 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u4627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:center;
}
#u4627 {
  position:absolute;
  left:579px;
  top:523px;
  width:159px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:center;
}
#u4628 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u4629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:center;
}
#u4629 {
  position:absolute;
  left:579px;
  top:468px;
  width:159px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:center;
}
#u4630 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u4631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u4631 {
  position:absolute;
  left:503px;
  top:453px;
  width:311px;
  height:1px;
}
#u4632 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4635 {
  position:absolute;
  left:0px;
  top:23px;
  width:375px;
  height:120px;
}
.u4636 {
  position:absolute;
  left:2px;
  top:52px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
.u4637 {
  position:absolute;
  left:17px;
  top:30px;
  width:97px;
  height:21px;
  font-size:16px;
}
.u4638 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
.u4639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
.u4639 {
  position:absolute;
  left:126px;
  top:2px;
  width:123px;
  height:17px;
  font-size:12px;
  color:#666666;
}
.u4640 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
.u4641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4641 {
  position:absolute;
  left:17px;
  top:61px;
  width:133px;
  height:20px;
}
.u4642 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
.u4644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4644 {
  position:absolute;
  left:317px;
  top:37px;
  width:8px;
  height:8px;
}
.u4645 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4646 {
  position:absolute;
  left:337px;
  top:31px;
  width:29px;
  height:20px;
}
.u4647 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u4648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4648 {
  position:absolute;
  left:17px;
  top:91px;
  width:344px;
  height:20px;
}
.u4649 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  white-space:nowrap;
}
.u4650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4650 {
  position:absolute;
  left:331px;
  top:117px;
  width:31px;
  height:20px;
}
.u4651 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
.u4652 {
  position:absolute;
  left:0px;
  top:22px;
  width:375px;
  height:121px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4633-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:143px;
}
#u4633-2 {
  position:absolute;
  left:0px;
  top:143px;
  width:375px;
  height:143px;
}
#u4633-3 {
  position:absolute;
  left:0px;
  top:286px;
  width:375px;
  height:143px;
}
#u4633 {
  position:absolute;
  left:68px;
  top:208px;
  width:375px;
  height:429px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u4653 {
  position:absolute;
  left:428px;
  top:268px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u4654 {
  position:absolute;
  left:8px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:4px 9px;
  -ms-transform-origin:4px 9px;
  -moz-transform-origin:4px 9px;
  -webkit-transform-origin:4px 9px;
}
#u4655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u4655 {
  position:absolute;
  left:511px;
  top:273px;
  width:127px;
  height:20px;
  color:#FF00FF;
}
#u4656 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4657 {
  position:absolute;
  left:471px;
  top:271px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u4658 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u4660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4660 {
  position:absolute;
  left:499px;
  top:631px;
  width:375px;
  height:120px;
}
#u4661 {
  position:absolute;
  left:2px;
  top:52px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4662 {
  position:absolute;
  left:516px;
  top:638px;
  width:97px;
  height:21px;
  font-size:16px;
}
#u4663 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4664 {
  position:absolute;
  left:625px;
  top:610px;
  width:123px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u4665 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u4666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4666 {
  position:absolute;
  left:516px;
  top:669px;
  width:133px;
  height:20px;
}
#u4667 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u4669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4669 {
  position:absolute;
  left:816px;
  top:645px;
  width:8px;
  height:8px;
}
#u4670 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4671 {
  position:absolute;
  left:836px;
  top:639px;
  width:29px;
  height:20px;
}
#u4672 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4673 {
  position:absolute;
  left:516px;
  top:699px;
  width:344px;
  height:20px;
}
#u4674 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  white-space:nowrap;
}
#u4675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4675 {
  position:absolute;
  left:830px;
  top:725px;
  width:31px;
  height:20px;
}
#u4676 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u4677 {
  position:absolute;
  left:499px;
  top:630px;
  width:375px;
  height:121px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4678 {
  position:absolute;
  left:513px;
  top:627px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#FF00FF;
}
#u4679 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:8px 8px;
  -ms-transform-origin:8px 8px;
  -moz-transform-origin:8px 8px;
  -webkit-transform-origin:8px 8px;
}
#u4680 {
  position:absolute;
  left:473px;
  top:810px;
  width:505px;
  height:155px;
}
#u4681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4681 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4682 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:30px;
}
#u4683 {
  position:absolute;
  left:60px;
  top:0px;
  width:440px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4684 {
  position:absolute;
  left:2px;
  top:7px;
  width:436px;
  word-wrap:break-word;
}
#u4685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4685 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
  color:#666666;
}
#u4686 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:30px;
}
#u4687 {
  position:absolute;
  left:60px;
  top:30px;
  width:440px;
  height:30px;
  color:#666666;
}
#u4688 {
  position:absolute;
  left:2px;
  top:7px;
  width:436px;
  word-wrap:break-word;
}
#u4689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4689 {
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
  color:#666666;
}
#u4690 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:30px;
}
#u4691 {
  position:absolute;
  left:60px;
  top:60px;
  width:440px;
  height:30px;
  color:#666666;
}
#u4692 {
  position:absolute;
  left:2px;
  top:7px;
  width:436px;
  word-wrap:break-word;
}
#u4693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4693 {
  position:absolute;
  left:0px;
  top:90px;
  width:60px;
  height:30px;
  color:#666666;
}
#u4694 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:30px;
}
#u4695 {
  position:absolute;
  left:60px;
  top:90px;
  width:440px;
  height:30px;
  color:#666666;
}
#u4696 {
  position:absolute;
  left:2px;
  top:7px;
  width:436px;
  word-wrap:break-word;
}
#u4697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4697 {
  position:absolute;
  left:0px;
  top:120px;
  width:60px;
  height:30px;
  color:#666666;
}
#u4698 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:30px;
}
#u4699 {
  position:absolute;
  left:60px;
  top:120px;
  width:440px;
  height:30px;
  color:#666666;
}
#u4700 {
  position:absolute;
  left:2px;
  top:7px;
  width:436px;
  word-wrap:break-word;
}
#u4701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4701 {
  position:absolute;
  left:799px;
  top:627px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#FF00FF;
}
#u4702 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:8px 8px;
  -ms-transform-origin:8px 8px;
  -moz-transform-origin:8px 8px;
  -webkit-transform-origin:8px 8px;
}
#u4703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4703 {
  position:absolute;
  left:503px;
  top:671px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#FF00FF;
}
#u4704 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:8px 8px;
  -ms-transform-origin:8px 8px;
  -moz-transform-origin:8px 8px;
  -webkit-transform-origin:8px 8px;
}
#u4705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4705 {
  position:absolute;
  left:503px;
  top:701px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:12px;
  color:#FF00FF;
}
#u4706 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:8px 8px;
  -ms-transform-origin:8px 8px;
  -moz-transform-origin:8px 8px;
  -webkit-transform-origin:8px 8px;
}
