#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Line_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Line_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Flat-button-light_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Three-line-item {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Flat-button-light_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Three-line-item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Label_5 {
  -ms-transform: rotate(90.0deg);
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 #s-Flat-button-light_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-016166c3-6876-414a-ac43-6ddf8226ee47 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}