#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Item-row_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Picture_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-date_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Item-row_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Picture_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-date_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-star_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Item-row_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Picture_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-date_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-star_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Item-row_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Picture_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-date_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Item-row_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-date_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-star_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Item-row_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-Picture_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-date_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 #s-star_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-15d4a56d-c83d-465c-9dd2-00245edeea61 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}