#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1cb37750-8881-45c0-aad6-f87f94c9bd8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}