#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}