#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-263bc872-aeb6-4517-9d0b-c8fc816a708e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}