#s-2b242988-fbbd-454d-867f-f703d7515cfe > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Flat-button-light {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 360px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Label_7 {
  position: absolute;
  top: 28px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Label_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Image_13 {
  position: absolute;
  top: 70px;
  left: 8px;
  width: 343px;
  height: 177px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Progress-bar {
  position: absolute;
  top: 247px;
  left: 9px;
  width: 342px;
  height: 2px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-line-grey {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 342px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-line-green {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 342px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #shapewrapper-s-line-green {
  display: none;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Image_1 {
  position: absolute;
  top: 260px;
  left: 9px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Paragraph_1 {
  position: absolute;
  top: 260px;
  left: 115px;
  width: 236px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_1 {
  position: absolute;
  top: 340px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Image_2 {
  position: absolute;
  top: 367px;
  left: 9px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Paragraph_2 {
  position: absolute;
  top: 367px;
  left: 115px;
  width: 236px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Paragraph_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_2 {
  position: absolute;
  top: 447px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_3 {
  position: absolute;
  top: 340px;
  left: 323px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_4 {
  position: absolute;
  top: 447px;
  left: 323px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Group_1 {
  position: absolute;
  top: 227px;
  left: 151px;
  width: 59px;
  height: 12px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  overflow: hidden;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Ellipse_1 .content {
  width: 12px;
  height: 12px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F6F6F6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F6F6F6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F6F6F6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F6F6F6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #shapewrapper-s-Ellipse_1 span {
  color: #F6F6F6;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #F6F6F6;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  overflow: hidden;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Ellipse_2 .content {
  width: 12px;
  height: 12px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 23px;
  width: 12px;
  height: 12px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #shapewrapper-s-Ellipse_2 span {
  color: #F6F6F6;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #F6F6F6;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
  overflow: hidden;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Ellipse_3 .content {
  width: 12px;
  height: 12px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Ellipse_3 {
  position: absolute;
  top: 0px;
  left: 47px;
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F6F6F6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F6F6F6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F6F6F6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F6F6F6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #shapewrapper-s-Ellipse_3 span {
  color: #F6F6F6;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #F6F6F6;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Hotspot_1 {
  position: absolute;
  top: 17px;
  left: 0px;
  width: 80px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe #s-Hotspot_2 {
  position: absolute;
  top: 260px;
  left: 8px;
  width: 344px;
  height: 207px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2b242988-fbbd-454d-867f-f703d7515cfe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}