#s-377c0a0f-aaed-4e45-a225-9fc7b9416c90 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-377c0a0f-aaed-4e45-a225-9fc7b9416c90 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-377c0a0f-aaed-4e45-a225-9fc7b9416c90 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-377c0a0f-aaed-4e45-a225-9fc7b9416c90 #s-spinner-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-377c0a0f-aaed-4e45-a225-9fc7b9416c90 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}