#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Two-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Two-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Two-line-item_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Two-line-item_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Two-line-item_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Two-line-item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Flat-button-dark {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-checkbox-on-light_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-checkbox-on-light_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-checkbox-on-light_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-checkbox-on-light_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-checkbox-on-light_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-checkbox-on-light_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-checkbox-on-light_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6b5fa78b-320e-4dc6-a937-03b6ae6992ef > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}