#s-6ea152ce-7739-41be-bd4d-da413dcbba81 #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-6ea152ce-7739-41be-bd4d-da413dcbba81 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-6ea152ce-7739-41be-bd4d-da413dcbba81 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-6ea152ce-7739-41be-bd4d-da413dcbba81 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6ea152ce-7739-41be-bd4d-da413dcbba81 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-6ea152ce-7739-41be-bd4d-da413dcbba81 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6ea152ce-7739-41be-bd4d-da413dcbba81 #s-Flat-button-light_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-6ea152ce-7739-41be-bd4d-da413dcbba81 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6ea152ce-7739-41be-bd4d-da413dcbba81 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6ea152ce-7739-41be-bd4d-da413dcbba81 #s-Flat-button-light_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6ea152ce-7739-41be-bd4d-da413dcbba81 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}