#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-82be2cf5-2aed-4ca8-bd0a-f4d8abebdf9a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}