#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  filter: alpha(opacity=68);
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  filter: alpha(opacity=68);
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  filter: alpha(opacity=68);
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  filter: alpha(opacity=68);
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  filter: alpha(opacity=68);
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  filter: alpha(opacity=68);
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  filter: alpha(opacity=68);
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68);
  filter: alpha(opacity=68);
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Flat-button-light_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}