#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-860eafb1-9bc4-44fe-8f23-0f67ddc0c5a3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}