#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-dark {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}