#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-light {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 360px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Floating-label {
  position: absolute;
  top: 97px;
  left: 9px;
  width: 341px;
  height: 34px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Group_10 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Input_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 336px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Input_5 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Line_9 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Line_10 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 341px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #shapewrapper-s-Line_10 {
  display: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Group_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 32px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 334px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_3 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 341px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-light_1 {
  position: absolute;
  top: 145px;
  left: 193px;
  width: 153px;
  height: 42px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-light_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-light_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-light_1 span#rtr-s-Flat-button-light_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_8 {
  position: absolute;
  top: 28px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Floating-label_2 {
  position: absolute;
  top: 157px;
  left: 9px;
  width: 179px;
  height: 34px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Group_14 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 179px;
  height: 32px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Input_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 174px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Input_7 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Line_13 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 179px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Line_14 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 179px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #shapewrapper-s-Line_14 {
  display: none;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Group_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 179px;
  height: 32px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 7px;
  width: 172px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_5 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 179px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Text_5 {
  position: absolute;
  top: 29px;
  left: 44px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Hotspot_1 {
  position: absolute;
  top: 17px;
  left: 0px;
  width: 80px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-dark {
  position: absolute;
  top: 541px;
  left: 8px;
  width: 340px;
  height: 42px;
  background-color: #8AD9D2;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #000000;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-dark .valign {
  vertical-align: middle;
  text-align: center;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-dark span {
  color: #303030;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 #s-Flat-button-dark span#rtr-s-Flat-button-dark_0 {
  color: #303030;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-990ce8d5-ad32-47cb-bc2d-c10459790c73 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}