#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Flat-button-light_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 153px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Flat-button-light_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}