#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Flat-button-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b7325fa5-90b3-4c11-b0a2-32788ccbe307 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}