#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Flat-button-dark {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}