#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc #s-Flat-button-dark {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 340px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b9a8d11d-5cbc-4ab2-bb45-a6ac967592dc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}