#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Label_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -1px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Flat-button-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c9ce4e25-697f-4a13-bc4f-16d8f7651420 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}