#s-eec01654-d223-4d7c-bef7-1bf5991333c7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Flat-button-light {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 360px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Label_7 {
  position: absolute;
  top: 28px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Label_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Flat-button-dark {
  position: absolute;
  top: 541px;
  left: 8px;
  width: 340px;
  height: 42px;
  background-color: #8AD9D2;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #000000;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Flat-button-dark .valign {
  vertical-align: middle;
  text-align: center;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Flat-button-dark span {
  color: #303030;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Flat-button-dark span#rtr-s-Flat-button-dark_0 {
  color: #303030;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Paragraph_1 {
  position: absolute;
  top: 64px;
  left: 8px;
  width: 344px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 11.0pt;
  font-family: Roboto-Light,Arial;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Paragraph_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-eec01654-d223-4d7c-bef7-1bf5991333c7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}