#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Flat-button-light {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 360px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Flat-button-light .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Flat-button-light span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Flat-button-light span#rtr-s-Flat-button-light_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_7 {
  position: absolute;
  top: 28px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Group_1 {
  position: absolute;
  top: 116px;
  left: 0px;
  width: 360px;
  height: 170px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_1 {
  position: absolute;
  top: 27px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_2 {
  position: absolute;
  top: 7px;
  left: 285px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_2 span {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_3 {
  position: absolute;
  top: 0px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Image_1 {
  position: absolute;
  top: 55px;
  left: 19px;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Image_2 {
  position: absolute;
  top: 55px;
  left: 93px;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Image_3 {
  position: absolute;
  top: 55px;
  left: 167px;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Flat-button-light_1 {
  position: absolute;
  top: 124px;
  left: 0px;
  width: 360px;
  height: 46px;
  background-color: #08AE9E;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Flat-button-light_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Flat-button-light_1 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Flat-button-light_1 span#rtr-s-Flat-button-light_1_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_3 {
  position: absolute;
  top: 71px;
  left: 314px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 24.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_3 span {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #7D7D7D;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Hotspot_1 {
  position: absolute;
  top: 17px;
  left: 0px;
  width: 80px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Hotspot_2 {
  position: absolute;
  top: 116px;
  left: 0px;
  width: 360px;
  height: 170px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Tabs-bar {
  position: absolute;
  top: 64px;
  left: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Panel_7 {
  width: 360px;
  height: 49px;
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_6 span {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_8 {
  position: absolute;
  top: 0px;
  left: 120px;
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_8 span {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_9 {
  position: absolute;
  top: 0px;
  left: 240px;
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_9 span {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 #s-Line_5 {
  position: absolute;
  top: 47px;
  left: 120px;
  width: 120px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fb223d7c-6b7a-43ba-9751-ca7314be22d8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}