@charset "utf-8";
@import url("../../resources/_jim/css/jim-ie.css");
@import url("../../resources/_jim/css/mobile/function-jim-mobile-ie.css");
@import url("../../resources/_jim/css/mobile/ios/ios8/ipad/function-jim-ipad-ie.css");