body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u5314 {
  position:absolute;
  left:100px;
  top:0px;
  width:394px;
  height:834px;
}
#u5315 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5316 {
  position:absolute;
  left:252px;
  top:163px;
  width:128px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5317 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u5318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5318 {
  position:absolute;
  left:150px;
  top:210px;
  width:180px;
  height:19px;
  font-size:16px;
}
#u5319 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u5320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:140px;
}
#u5320 {
  position:absolute;
  left:150px;
  top:250px;
  width:290px;
  height:140px;
}
#u5321 {
  position:absolute;
  left:2px;
  top:62px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5322 {
  position:absolute;
  left:150px;
  top:400px;
  width:300px;
  height:144px;
}
#u5323 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5324 {
  position:absolute;
  left:148px;
  top:168px;
  width:22px;
  height:22px;
  color:#333333;
}
#u5325 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
