body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-286px;
  width:424px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:60px;
}
#u245 {
  position:absolute;
  left:286px;
  top:0px;
  width:424px;
  height:848px;
}
#u246 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
}
#u247 {
  position:absolute;
  left:468px;
  top:759px;
  width:60px;
  height:60px;
}
#u248 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
}
#u249 {
  position:absolute;
  left:311px;
  top:74px;
  width:375px;
  height:670px;
}
#u250 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
}
#u251 {
  position:absolute;
  left:432px;
  top:44px;
  width:14px;
  height:14px;
}
#u252 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
}
#u253 {
  position:absolute;
  left:470px;
  top:47px;
  width:60px;
  height:10px;
}
#u254 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
}
#u255 {
  position:absolute;
  left:493px;
  top:24px;
  width:10px;
  height:10px;
}
#u256 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:66px;
}
#u257 {
  position:absolute;
  left:442px;
  top:220px;
  width:118px;
  height:66px;
}
#u258 {
  position:absolute;
  left:2px;
  top:25px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u259 {
  position:absolute;
  left:313px;
  top:330px;
  width:375px;
  height:20px;
  font-family:'方正正准黑简体 Regular', '方正正准黑简体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:20px;
}
#u260 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u261 {
  position:absolute;
  left:310px;
  top:399px;
  width:375px;
  height:20px;
  font-family:'方正正准黑简体 Regular', '方正正准黑简体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u262 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u263 {
  position:absolute;
  left:440px;
  top:670px;
  width:16px;
  height:16px;
}
#u264 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u265 {
  position:absolute;
  left:544px;
  top:670px;
  width:16px;
  height:16px;
}
#u266 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u267 {
  position:absolute;
  left:466px;
  top:670px;
  width:16px;
  height:16px;
}
#u268 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u269 {
  position:absolute;
  left:492px;
  top:670px;
  width:16px;
  height:16px;
}
#u270 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u271 {
  position:absolute;
  left:518px;
  top:670px;
  width:16px;
  height:16px;
}
#u272 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u273 {
  position:absolute;
  left:544px;
  top:670px;
  width:16px;
  height:16px;
}
#u274 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u275 {
  position:absolute;
  left:440px;
  top:670px;
  width:16px;
  height:16px;
}
#u276 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u277 {
  position:absolute;
  left:492px;
  top:670px;
  width:16px;
  height:16px;
}
#u278 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u279 {
  position:absolute;
  left:518px;
  top:670px;
  width:16px;
  height:16px;
}
#u280 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
