body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:100px;
  background:inherit;
  background-color:rgba(252, 244, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u13168 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:100px;
  font-size:20px;
  color:#666666;
}
#u13169 {
  position:absolute;
  left:2px;
  top:36px;
  width:1020px;
  word-wrap:break-word;
}
#u13170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13170 {
  position:absolute;
  left:804px;
  top:0px;
  width:100px;
  height:100px;
}
#u13171 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF3333;
}
#u13172 {
  position:absolute;
  left:904px;
  top:0px;
  width:120px;
  height:100px;
  font-size:18px;
  color:#FF3333;
}
#u13173 {
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  word-wrap:break-word;
}
#u13174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13174 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13175 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u13176 {
  position:absolute;
  left:930px;
  top:40px;
  width:25px;
  height:21px;
}
#u13177 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:149px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13178 {
  position:absolute;
  left:138px;
  top:153px;
  width:886px;
  height:149px;
}
#u13179 {
  position:absolute;
  left:2px;
  top:66px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13180 {
  position:absolute;
  left:192px;
  top:174px;
  width:182px;
  height:36px;
}
#u13181 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13182 {
  position:absolute;
  left:194px;
  top:175px;
  width:178px;
  height:34px;
}
#u13182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13183 {
  position:absolute;
  left:146px;
  top:184px;
  width:57px;
  height:20px;
}
#u13184 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u13185 {
  position:absolute;
  left:911px;
  top:238px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u13186 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u13187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u13187 {
  position:absolute;
  left:911px;
  top:174px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u13188 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u13190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13190 {
  position:absolute;
  left:0px;
  top:1030px;
  width:1024px;
  height:64px;
  color:#FFFFFF;
}
#u13191 {
  position:absolute;
  left:2px;
  top:22px;
  width:1020px;
  word-wrap:break-word;
}
#u13193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u13193 {
  position:absolute;
  left:138px;
  top:105px;
  width:886px;
  height:32px;
  color:#666666;
  text-align:left;
}
#u13194 {
  position:absolute;
  left:2px;
  top:6px;
  width:882px;
  word-wrap:break-word;
}
#u13195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13195 {
  position:absolute;
  left:138px;
  top:375px;
  width:886px;
  height:48px;
}
#u13196 {
  position:absolute;
  left:2px;
  top:16px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13197 {
  position:absolute;
  left:146px;
  top:389px;
  width:90px;
  height:19px;
  color:#666666;
  text-align:center;
}
#u13198 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u13197_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
.u13200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u13200 {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:48px;
}
.u13201 {
  position:absolute;
  left:2px;
  top:16px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
.u13202 {
  position:absolute;
  left:8px;
  top:16px;
  width:90px;
  height:16px;
  text-align:center;
}
.u13203 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
.u13202_input {
  position:absolute;
  left:-3px;
  top:-3px;
}
.u13204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
.u13204 {
  position:absolute;
  left:98px;
  top:17px;
  width:120px;
  height:16px;
  font-size:13px;
  text-align:center;
}
.u13205 {
  position:absolute;
  left:0px;
  top:-2px;
  width:120px;
  word-wrap:break-word;
}
.u13206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
.u13206 {
  position:absolute;
  left:497px;
  top:17px;
  width:151px;
  height:16px;
  font-size:13px;
  text-align:center;
}
.u13207 {
  position:absolute;
  left:0px;
  top:-2px;
  width:151px;
  word-wrap:break-word;
}
.u13208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
.u13208 {
  position:absolute;
  left:218px;
  top:17px;
  width:220px;
  height:16px;
  font-size:13px;
  text-align:center;
}
.u13209 {
  position:absolute;
  left:0px;
  top:-2px;
  width:220px;
  word-wrap:break-word;
}
.u13210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
.u13210 {
  position:absolute;
  left:438px;
  top:17px;
  width:60px;
  height:16px;
  font-size:13px;
  text-align:center;
}
.u13211 {
  position:absolute;
  left:0px;
  top:-2px;
  width:60px;
  word-wrap:break-word;
}
.u13212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
.u13212 {
  position:absolute;
  left:648px;
  top:17px;
  width:118px;
  height:16px;
  font-size:13px;
  text-align:center;
}
.u13213 {
  position:absolute;
  left:0px;
  top:-2px;
  width:118px;
  word-wrap:break-word;
}
.u13214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
.u13214 {
  position:absolute;
  left:782px;
  top:17px;
  width:50px;
  height:16px;
  font-size:13px;
  text-align:center;
}
.u13215 {
  position:absolute;
  left:0px;
  top:-2px;
  width:50px;
  word-wrap:break-word;
}
.u13216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
.u13216 {
  position:absolute;
  left:817px;
  top:17px;
  width:50px;
  height:16px;
  font-size:13px;
  text-align:center;
}
.u13217 {
  position:absolute;
  left:0px;
  top:-2px;
  width:50px;
  word-wrap:break-word;
}
#u13199-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:48px;
}
#u13199-2 {
  position:absolute;
  left:0px;
  top:48px;
  width:886px;
  height:48px;
}
#u13199-3 {
  position:absolute;
  left:0px;
  top:96px;
  width:886px;
  height:48px;
}
#u13199-4 {
  position:absolute;
  left:0px;
  top:144px;
  width:886px;
  height:48px;
}
#u13199-5 {
  position:absolute;
  left:0px;
  top:192px;
  width:886px;
  height:48px;
}
#u13199-6 {
  position:absolute;
  left:0px;
  top:240px;
  width:886px;
  height:48px;
}
#u13199-7 {
  position:absolute;
  left:0px;
  top:288px;
  width:886px;
  height:48px;
}
#u13199-8 {
  position:absolute;
  left:0px;
  top:336px;
  width:886px;
  height:48px;
}
#u13199-9 {
  position:absolute;
  left:0px;
  top:384px;
  width:886px;
  height:48px;
}
#u13199-10 {
  position:absolute;
  left:0px;
  top:432px;
  width:886px;
  height:48px;
}
#u13199 {
  position:absolute;
  left:138px;
  top:422px;
  width:886px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u13218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13218 {
  position:absolute;
  left:236px;
  top:389px;
  width:120px;
  height:19px;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13219 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13220 {
  position:absolute;
  left:356px;
  top:389px;
  width:220px;
  height:19px;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13221 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u13222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13222 {
  position:absolute;
  left:904px;
  top:389px;
  width:120px;
  height:19px;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13223 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13225 {
  position:absolute;
  left:0px;
  top:963px;
  width:1024px;
  height:64px;
}
#u13226 {
  position:absolute;
  left:2px;
  top:24px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13227 {
  position:absolute;
  left:440px;
  top:977px;
  width:40px;
  height:36px;
}
#u13228 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13229 {
  position:absolute;
  left:598px;
  top:977px;
  width:40px;
  height:36px;
}
#u13230 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u13231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13231 {
  position:absolute;
  left:869px;
  top:977px;
  width:40px;
  height:36px;
}
#u13232 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13233 {
  position:absolute;
  left:520px;
  top:977px;
  width:40px;
  height:36px;
}
#u13234 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u13235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13235 {
  position:absolute;
  left:559px;
  top:977px;
  width:40px;
  height:36px;
}
#u13236 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u13237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13237 {
  position:absolute;
  left:637px;
  top:977px;
  width:40px;
  height:36px;
}
#u13238 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u13239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13239 {
  position:absolute;
  left:673px;
  top:977px;
  width:40px;
  height:36px;
}
#u13240 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u13241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13241 {
  position:absolute;
  left:712px;
  top:977px;
  width:40px;
  height:36px;
}
#u13242 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u13243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13243 {
  position:absolute;
  left:751px;
  top:977px;
  width:40px;
  height:36px;
}
#u13244 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u13245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13245 {
  position:absolute;
  left:790px;
  top:977px;
  width:40px;
  height:36px;
}
#u13246 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u13247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13247 {
  position:absolute;
  left:481px;
  top:977px;
  width:40px;
  height:36px;
}
#u13248 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u13249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13249 {
  position:absolute;
  left:829px;
  top:977px;
  width:40px;
  height:36px;
}
#u13250 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u13251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13251 {
  position:absolute;
  left:874px;
  top:980px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u13252 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13253 {
  position:absolute;
  left:445px;
  top:980px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u13254 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13256 {
  position:absolute;
  left:1px;
  top:105px;
  width:128px;
  height:320px;
}
#u13256_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:326px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13257 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:325px;
}
#u13258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13258 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  color:#666666;
}
#u13258_img.mouseOver {
}
#u13258.mouseOver {
}
#u13258_img.mouseDown {
}
#u13258.mouseDown {
}
#u13258_img.selected {
}
#u13258.selected {
}
#u13259 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u13260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13260 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
  color:#666666;
}
#u13260_img.mouseOver {
}
#u13260.mouseOver {
}
#u13260_img.mouseDown {
}
#u13260.mouseDown {
}
#u13260_img.selected {
}
#u13260.selected {
}
#u13261 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u13262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13262 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
  color:#666666;
}
#u13262_img.mouseOver {
}
#u13262.mouseOver {
}
#u13262_img.mouseDown {
}
#u13262.mouseDown {
}
#u13262_img.selected {
}
#u13262.selected {
}
#u13263 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u13264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13264 {
  position:absolute;
  left:0px;
  top:96px;
  width:128px;
  height:32px;
  color:#666666;
}
#u13264_img.mouseOver {
}
#u13264.mouseOver {
}
#u13264_img.mouseDown {
}
#u13264.mouseDown {
}
#u13264_img.selected {
}
#u13264.selected {
}
#u13265 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u13266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13266 {
  position:absolute;
  left:0px;
  top:128px;
  width:128px;
  height:32px;
  color:#666666;
}
#u13266_img.mouseOver {
}
#u13266.mouseOver {
}
#u13266_img.mouseDown {
}
#u13266.mouseDown {
}
#u13266_img.selected {
}
#u13266.selected {
}
#u13267 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u13268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13268 {
  position:absolute;
  left:0px;
  top:160px;
  width:128px;
  height:32px;
  color:#666666;
}
#u13268_img.mouseOver {
}
#u13268.mouseOver {
}
#u13268_img.mouseDown {
}
#u13268.mouseDown {
}
#u13268_img.selected {
}
#u13268.selected {
}
#u13269 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u13270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13270 {
  position:absolute;
  left:0px;
  top:192px;
  width:128px;
  height:32px;
  color:#666666;
}
#u13270_img.mouseOver {
}
#u13270.mouseOver {
}
#u13270_img.mouseDown {
}
#u13270.mouseDown {
}
#u13270_img.selected {
}
#u13270.selected {
}
#u13271 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u13272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13272 {
  position:absolute;
  left:0px;
  top:224px;
  width:128px;
  height:32px;
  color:#666666;
}
#u13272_img.mouseOver {
}
#u13272.mouseOver {
}
#u13272_img.mouseDown {
}
#u13272.mouseDown {
}
#u13272_img.selected {
}
#u13272.selected {
}
#u13273 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u13274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13274 {
  position:absolute;
  left:0px;
  top:256px;
  width:128px;
  height:32px;
  color:#666666;
}
#u13274_img.mouseOver {
}
#u13274.mouseOver {
}
#u13274_img.mouseDown {
}
#u13274.mouseDown {
}
#u13274_img.selected {
}
#u13274.selected {
}
#u13275 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u13276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13276 {
  position:absolute;
  left:0px;
  top:288px;
  width:128px;
  height:32px;
  color:#666666;
}
#u13276_img.mouseOver {
}
#u13276.mouseOver {
}
#u13276_img.mouseDown {
}
#u13276.mouseDown {
}
#u13276_img.selected {
}
#u13276.selected {
}
#u13277 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u13278 {
  position:absolute;
  left:128px;
  top:160px;
  width:128px;
  height:128px;
  visibility:hidden;
}
#u13278_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:134px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13279 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:133px;
}
#u13280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13280 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13280_img.mouseOver {
}
#u13280.mouseOver {
}
#u13280_img.mouseDown {
}
#u13280.mouseDown {
}
#u13280_img.selected {
}
#u13280.selected {
}
#u13281 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13282 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13282_img.mouseOver {
}
#u13282.mouseOver {
}
#u13282_img.mouseDown {
}
#u13282.mouseDown {
}
#u13282_img.selected {
}
#u13282.selected {
}
#u13283 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13284 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13284_img.mouseOver {
}
#u13284.mouseOver {
}
#u13284_img.mouseDown {
}
#u13284.mouseDown {
}
#u13284_img.selected {
}
#u13284.selected {
}
#u13285 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13286 {
  position:absolute;
  left:0px;
  top:96px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13286_img.mouseOver {
}
#u13286.mouseOver {
}
#u13286_img.mouseDown {
}
#u13286.mouseDown {
}
#u13286_img.selected {
}
#u13286.selected {
}
#u13287 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13288 {
  position:absolute;
  left:128px;
  top:128px;
  width:128px;
  height:96px;
  visibility:hidden;
}
#u13288_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:102px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13289 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:101px;
}
#u13290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13290 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13290_img.mouseOver {
}
#u13290.mouseOver {
}
#u13290_img.mouseDown {
}
#u13290.mouseDown {
}
#u13290_img.selected {
}
#u13290.selected {
}
#u13291 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13292 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13292_img.mouseOver {
}
#u13292.mouseOver {
}
#u13292_img.mouseDown {
}
#u13292.mouseDown {
}
#u13292_img.selected {
}
#u13292.selected {
}
#u13293 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13294 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13294_img.mouseOver {
}
#u13294.mouseOver {
}
#u13294_img.mouseDown {
}
#u13294.mouseDown {
}
#u13294_img.selected {
}
#u13294.selected {
}
#u13295 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13296 {
  position:absolute;
  left:128px;
  top:192px;
  width:128px;
  height:96px;
  visibility:hidden;
}
#u13296_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:102px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13297 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:101px;
}
#u13298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13298 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13298_img.mouseOver {
}
#u13298.mouseOver {
}
#u13298_img.mouseDown {
}
#u13298.mouseDown {
}
#u13298_img.selected {
}
#u13298.selected {
}
#u13299 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13300 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13300_img.mouseOver {
}
#u13300.mouseOver {
}
#u13300_img.mouseDown {
}
#u13300.mouseDown {
}
#u13300_img.selected {
}
#u13300.selected {
}
#u13301 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13302 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13302_img.mouseOver {
}
#u13302.mouseOver {
}
#u13302_img.mouseDown {
}
#u13302.mouseDown {
}
#u13302_img.selected {
}
#u13302.selected {
}
#u13303 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13304 {
  position:absolute;
  left:128px;
  top:224px;
  width:128px;
  height:96px;
  visibility:hidden;
}
#u13304_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:102px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13305 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:101px;
}
#u13306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13306 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13306_img.mouseOver {
}
#u13306.mouseOver {
}
#u13306_img.mouseDown {
}
#u13306.mouseDown {
}
#u13306_img.selected {
}
#u13306.selected {
}
#u13307 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13308 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13308_img.mouseOver {
}
#u13308.mouseOver {
}
#u13308_img.mouseDown {
}
#u13308.mouseDown {
}
#u13308_img.selected {
}
#u13308.selected {
}
#u13309 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13310 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13310_img.mouseOver {
}
#u13310.mouseOver {
}
#u13310_img.mouseDown {
}
#u13310.mouseDown {
}
#u13310_img.selected {
}
#u13310.selected {
}
#u13311 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13312 {
  position:absolute;
  left:128px;
  top:256px;
  width:128px;
  height:64px;
  visibility:hidden;
}
#u13312_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:70px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13313 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:69px;
}
#u13314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13314 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13314_img.mouseOver {
}
#u13314.mouseOver {
}
#u13314_img.mouseDown {
}
#u13314.mouseDown {
}
#u13314_img.selected {
}
#u13314.selected {
}
#u13315 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13316 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13316_img.mouseOver {
}
#u13316.mouseOver {
}
#u13316_img.mouseDown {
}
#u13316.mouseDown {
}
#u13316_img.selected {
}
#u13316.selected {
}
#u13317 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13318 {
  position:absolute;
  left:128px;
  top:288px;
  width:128px;
  height:192px;
  visibility:hidden;
}
#u13318_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:198px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13319 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:197px;
}
#u13320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13320 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13320_img.mouseOver {
}
#u13320.mouseOver {
}
#u13320_img.mouseDown {
}
#u13320.mouseDown {
}
#u13320_img.selected {
}
#u13320.selected {
}
#u13321 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13322 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13322_img.mouseOver {
}
#u13322.mouseOver {
}
#u13322_img.mouseDown {
}
#u13322.mouseDown {
}
#u13322_img.selected {
}
#u13322.selected {
}
#u13323 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13324 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13324_img.mouseOver {
}
#u13324.mouseOver {
}
#u13324_img.mouseDown {
}
#u13324.mouseDown {
}
#u13324_img.selected {
}
#u13324.selected {
}
#u13325 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13326 {
  position:absolute;
  left:0px;
  top:96px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13326_img.mouseOver {
}
#u13326.mouseOver {
}
#u13326_img.mouseDown {
}
#u13326.mouseDown {
}
#u13326_img.selected {
}
#u13326.selected {
}
#u13327 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13328 {
  position:absolute;
  left:0px;
  top:128px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13328_img.mouseOver {
}
#u13328.mouseOver {
}
#u13328_img.mouseDown {
}
#u13328.mouseDown {
}
#u13328_img.selected {
}
#u13328.selected {
}
#u13329 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13330 {
  position:absolute;
  left:0px;
  top:160px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13330_img.mouseOver {
}
#u13330.mouseOver {
}
#u13330_img.mouseDown {
}
#u13330.mouseDown {
}
#u13330_img.selected {
}
#u13330.selected {
}
#u13331 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13332 {
  position:absolute;
  left:128px;
  top:96px;
  width:128px;
  height:64px;
  visibility:hidden;
}
#u13332_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:70px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13333 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:69px;
}
#u13334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13334 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13334_img.mouseOver {
}
#u13334.mouseOver {
}
#u13334_img.mouseDown {
}
#u13334.mouseDown {
}
#u13334_img.selected {
}
#u13334.selected {
}
#u13335 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u13336 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u13336_img.mouseOver {
}
#u13336.mouseOver {
}
#u13336_img.mouseDown {
}
#u13336.mouseDown {
}
#u13336_img.selected {
}
#u13336.selected {
}
#u13337 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u13338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u13338 {
  position:absolute;
  left:143px;
  top:320px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u13339 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u13340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13340 {
  position:absolute;
  left:576px;
  top:389px;
  width:60px;
  height:19px;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13341 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13342 {
  position:absolute;
  left:635px;
  top:389px;
  width:151px;
  height:19px;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13343 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u13344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13344 {
  position:absolute;
  left:786px;
  top:389px;
  width:118px;
  height:19px;
  font-size:13px;
  color:#666666;
  text-align:center;
}
#u13345 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
