<html>
  <body>
    <div class="ui-page">
         <div id="t-43ed02b4-b702-41c1-9fe9-4e733dbda1bb" class="template growth-both firer commentable" name="Template 2">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/43ed02b4-b702-41c1-9fe9-4e733dbda1bb-1444703449713.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/43ed02b4-b702-41c1-9fe9-4e733dbda1bb-1444703449713-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/43ed02b4-b702-41c1-9fe9-4e733dbda1bb-1444703449713-ie8.css" /><![endif]-->
           <div id="t-Rectangle_1" class="rectangle firer commentable" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_1_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Text_1" class="label multiline firer ie-background commentable" >
             <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Text_1_0">2015年8月28日 &nbsp;星期四 &nbsp;18:00<br />欢迎登录:小明 &nbsp; &nbsp;注销</span>
                 </div>
               </div>
             </div>
           </div>
           <div id="t-Text_2" class="label singleline firer ie-background commentable" ><div class="content"><div class="valign"><span id="rtr-t-Text_2_0">系统管理&gt;管理员列表</span></div></div></div>
           <div id="t-Line_1" class="line shape non-processed-shape firer ie-background commentable" path="M 0 0 L 899 0" startMarker="none" endMarker="none" >
           </div>
           <table id="t-Table_1" class="table firer ie-background commentable" summary="" >
             <tbody>
               <tr>
                 <td id="t-Cell_1" class="cellcontainer firer"   >
                   <div class="layout">
                     <table class="layout" summary="">
                       <tr>
                         <td class="layout vertical insertionpoint verticalalign" valign="middle" align="center"><div id="t-Text_3" class="label singleline firer ie-background commentable" ><div class="content"><div class="valign"><span id="rtr-t-Text_3_0">父菜单</span></div></div></div></td> 
                       </tr>
                     </table>

                   </div>
                 </td>
               </tr>
               <tr>
                 <td id="t-Cell_3" class="cellcontainer firer"   >
                   <div class="layout">
                     <table class="layout" summary="">
                       <tr>
                         <td class="layout vertical insertionpoint verticalalign" valign="middle" align="center"><div id="t-Text_8" class="label singleline firer ie-background commentable" ><div class="content"><div class="valign"><span id="rtr-t-Text_8_0">父菜单</span></div></div></div></td> 
                       </tr>
                     </table>

                   </div>
                 </td>
               </tr>
               <tr>
                 <td id="t-Cell_4" class="cellcontainer firer"   >
                   <div class="layout">
                     <table class="layout" summary="">
                       <tr>
                         <td class="layout vertical insertionpoint verticalalign" valign="middle" align="center"><div id="t-Text_7" class="label singleline firer ie-background commentable" ><div class="content"><div class="valign"><span id="rtr-t-Text_7_0">父菜单</span></div></div></div></td> 
                       </tr>
                     </table>

                   </div>
                 </td>
               </tr>
               <tr>
                 <td id="t-Cell_5" class="cellcontainer firer"   >
                   <div class="layout">
                     <table class="layout" summary="">
                       <tr>
                         <td class="layout vertical insertionpoint verticalalign" valign="middle" align="center"><div id="t-Text_6" class="label singleline firer ie-background commentable" ><div class="content"><div class="valign"><span id="rtr-t-Text_6_0">父菜单</span></div></div></div></td> 
                       </tr>
                     </table>

                   </div>
                 </td>
               </tr>
               <tr>
                 <td id="t-Cell_2" class="cellcontainer firer"   >
                   <div class="layout">
                     <table class="layout" summary="">
                       <tr>
                         <td class="layout vertical insertionpoint verticalalign" valign="middle" align="center"><div id="t-Text_4" class="label singleline firer ie-background commentable" ><div class="content"><div class="valign"><span id="rtr-t-Text_4_0">父菜单</span></div></div></div></td> 
                       </tr>
                     </table>

                   </div>
                 </td>
               </tr>
             </tbody>
           </table>
           <div id="t-Text_5" class="label singleline firer ie-background commentable" ><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">父菜单</span></div></div></div>
           <div id="t-Rectangle_2" class="rectangle firer commentable" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_2_0">BLUEMOBI<br />LOGOCopyright 2015All rights reserved京ICP备10013356号</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Group_1" class="group firer ie-background commentable">
             <div id="t-Group_2" class="group firer ie-background commentable">
               <div id="t-Rectangle_3" class="rectangle firer commentable" >
                <div class="clipping">
                 <div class="content">
                   <div class="valign">
                     <span id="rtr-t-Rectangle_3_0"></span>
                   </div>
                 </div>
                </div>
               </div>
               <div id="t-Label_291" class="label singleline firer ie-background commentable" ><div class="content"><div class="valign"><span id="rtr-t-Label_291_0"></span></div></div></div>
             </div>
             <div id="t-Group_3" class="group firer ie-background commentable">
               <div id="t-Rectangle_4" class="rectangle firer commentable" >
                <div class="clipping">
                 <div class="content">
                   <div class="valign">
                     <span id="rtr-t-Rectangle_4_0"></span>
                   </div>
                 </div>
                </div>
               </div>
               <div id="t-Label_290" class="label singleline firer ie-background commentable" ><div class="content"><div class="valign"><span id="rtr-t-Label_290_0"></span></div></div></div>
             </div>
             <div id="t-Rectangle_5" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_5_0">1</span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Rectangle_6" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_6_0">2</span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Rectangle_7" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_7_0">3</span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Rectangle_8" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_8_0">4</span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Rectangle_9" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_9_0">5</span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Rectangle_10" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_10_0">6</span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Rectangle_11" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_11_0">7</span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Rectangle_12" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_12_0">8</span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Rectangle_13" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_13_0">...</span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Rectangle_14" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_14_0">10</span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Rectangle_15" class="rectangle firer commentable" >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_15_0">9</span>
                 </div>
               </div>
              </div>
             </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>