<html>
  <body>
    <div class="ui-page">
         <div id="t-55d12aca-291b-4e97-ad73-d8da11a3333a" class="template growth-both firer commentable" name="空白">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/55d12aca-291b-4e97-ad73-d8da11a3333a-1444703449713.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/55d12aca-291b-4e97-ad73-d8da11a3333a-1444703449713-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/55d12aca-291b-4e97-ad73-d8da11a3333a-1444703449713-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>