body {
  margin:0px;
  background-image:url('../../images/s2会员管理/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15817 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
}
#u15818 {
  position:absolute;
  left:2px;
  top:24px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:32px;
}
#u15819 {
  position:absolute;
  left:7px;
  top:16px;
  width:214px;
  height:32px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
}
#u15820 {
  position:absolute;
  left:2px;
  top:8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15821 {
  position:absolute;
  left:914px;
  top:21px;
  width:86px;
  height:23px;
}
#u15822 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  white-space:nowrap;
}
#u15824 {
  position:absolute;
  left:0px;
  top:63px;
  width:128px;
  height:416px;
}
#u15824_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:422px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15825 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:421px;
}
#u15826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15826 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15826_img.mouseOver {
}
#u15826.mouseOver {
}
#u15827 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15828 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u15828_img.mouseOver {
}
#u15828.mouseOver {
}
#u15829 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15830 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
}
#u15830_img.mouseOver {
}
#u15830.mouseOver {
}
#u15831 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15832 {
  position:absolute;
  left:0px;
  top:96px;
  width:128px;
  height:32px;
}
#u15832_img.mouseOver {
}
#u15832.mouseOver {
}
#u15833 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15834 {
  position:absolute;
  left:0px;
  top:128px;
  width:128px;
  height:32px;
}
#u15834_img.mouseOver {
}
#u15834.mouseOver {
}
#u15835 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15836 {
  position:absolute;
  left:0px;
  top:160px;
  width:128px;
  height:32px;
}
#u15836_img.mouseOver {
}
#u15836.mouseOver {
}
#u15837 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15838 {
  position:absolute;
  left:0px;
  top:192px;
  width:128px;
  height:32px;
}
#u15838_img.mouseOver {
}
#u15838.mouseOver {
}
#u15839 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15840 {
  position:absolute;
  left:0px;
  top:224px;
  width:128px;
  height:32px;
}
#u15840_img.mouseOver {
}
#u15840.mouseOver {
}
#u15841 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15842 {
  position:absolute;
  left:0px;
  top:256px;
  width:128px;
  height:32px;
}
#u15842_img.mouseOver {
}
#u15842.mouseOver {
}
#u15843 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15844 {
  position:absolute;
  left:0px;
  top:288px;
  width:128px;
  height:32px;
}
#u15844_img.mouseOver {
}
#u15844.mouseOver {
}
#u15845 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15846 {
  position:absolute;
  left:0px;
  top:320px;
  width:128px;
  height:32px;
}
#u15846_img.mouseOver {
}
#u15846.mouseOver {
}
#u15847 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15848 {
  position:absolute;
  left:0px;
  top:352px;
  width:128px;
  height:32px;
}
#u15848_img.mouseOver {
}
#u15848.mouseOver {
}
#u15849 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15850 {
  position:absolute;
  left:0px;
  top:384px;
  width:128px;
  height:32px;
}
#u15850_img.mouseOver {
}
#u15850.mouseOver {
}
#u15851 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15852 {
  position:absolute;
  left:128px;
  top:96px;
  width:128px;
  height:128px;
  visibility:hidden;
}
#u15852_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:134px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15853 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:133px;
}
#u15854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15854 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15854_img.mouseOver {
}
#u15854.mouseOver {
}
#u15855 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15856 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u15856_img.mouseOver {
}
#u15856.mouseOver {
}
#u15857 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15858 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
}
#u15858_img.mouseOver {
}
#u15858.mouseOver {
}
#u15859 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15860 {
  position:absolute;
  left:0px;
  top:96px;
  width:128px;
  height:32px;
}
#u15860_img.mouseOver {
}
#u15860.mouseOver {
}
#u15861 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15862 {
  position:absolute;
  left:128px;
  top:128px;
  width:128px;
  height:96px;
  visibility:hidden;
}
#u15862_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:102px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15863 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:101px;
}
#u15864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15864 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15864_img.mouseOver {
}
#u15864.mouseOver {
}
#u15865 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15866 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u15866_img.mouseOver {
}
#u15866.mouseOver {
}
#u15867 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15868 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
}
#u15868_img.mouseOver {
}
#u15868.mouseOver {
}
#u15869 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15870 {
  position:absolute;
  left:128px;
  top:160px;
  width:128px;
  height:96px;
  visibility:hidden;
}
#u15870_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:102px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15871 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:101px;
}
#u15872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15872 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15872_img.mouseOver {
}
#u15872.mouseOver {
}
#u15873 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15874 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u15874_img.mouseOver {
}
#u15874.mouseOver {
}
#u15875 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15876 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
}
#u15876_img.mouseOver {
}
#u15876.mouseOver {
}
#u15877 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15878 {
  position:absolute;
  left:128px;
  top:224px;
  width:128px;
  height:128px;
  visibility:hidden;
}
#u15878_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:134px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15879 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:133px;
}
#u15880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15880 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15880_img.mouseOver {
}
#u15880.mouseOver {
}
#u15881 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15882 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u15882_img.mouseOver {
}
#u15882.mouseOver {
}
#u15883 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15884 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
}
#u15884_img.mouseOver {
}
#u15884.mouseOver {
}
#u15885 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15886 {
  position:absolute;
  left:0px;
  top:96px;
  width:128px;
  height:32px;
}
#u15886_img.mouseOver {
}
#u15886.mouseOver {
}
#u15887 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15888 {
  position:absolute;
  left:128px;
  top:256px;
  width:128px;
  height:96px;
  visibility:hidden;
}
#u15888_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:102px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15889 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:101px;
}
#u15890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15890 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15890_img.mouseOver {
}
#u15890.mouseOver {
}
#u15891 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15892 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u15892_img.mouseOver {
}
#u15892.mouseOver {
}
#u15893 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15894 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
}
#u15894_img.mouseOver {
}
#u15894.mouseOver {
}
#u15895 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15896 {
  position:absolute;
  left:128px;
  top:320px;
  width:128px;
  height:160px;
  visibility:hidden;
}
#u15896_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15897 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:165px;
}
#u15898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15898 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15898_img.mouseOver {
}
#u15898.mouseOver {
}
#u15899 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15900 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u15900_img.mouseOver {
}
#u15900.mouseOver {
}
#u15901 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15902 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
}
#u15902_img.mouseOver {
}
#u15902.mouseOver {
}
#u15903 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15904 {
  position:absolute;
  left:0px;
  top:96px;
  width:128px;
  height:32px;
}
#u15904_img.mouseOver {
}
#u15904.mouseOver {
}
#u15905 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15906 {
  position:absolute;
  left:0px;
  top:128px;
  width:128px;
  height:32px;
}
#u15906_img.mouseOver {
}
#u15906.mouseOver {
}
#u15907 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15908 {
  position:absolute;
  left:128px;
  top:352px;
  width:128px;
  height:96px;
  visibility:hidden;
}
#u15908_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:102px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15909 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:101px;
}
#u15910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15910 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15910_img.mouseOver {
}
#u15910.mouseOver {
}
#u15911 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15912 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u15912_img.mouseOver {
}
#u15912.mouseOver {
}
#u15913 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u15914 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
}
#u15914_img.mouseOver {
}
#u15914.mouseOver {
}
#u15915 {
  position:absolute;
  left:2px;
  top:6px;
  width:124px;
  word-wrap:break-word;
}
#u15917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15917 {
  position:absolute;
  left:138px;
  top:74px;
  width:29px;
  height:20px;
}
#u15918 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15919 {
  position:absolute;
  left:174px;
  top:74px;
  width:7px;
  height:20px;
}
#u15920 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u15921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15921 {
  position:absolute;
  left:187px;
  top:74px;
  width:57px;
  height:20px;
}
#u15922 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:2px;
}
#u15923 {
  position:absolute;
  left:138px;
  top:96px;
  width:886px;
  height:1px;
}
#u15924 {
  position:absolute;
  left:2px;
  top:-8px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u15926 {
  position:absolute;
  left:0px;
  top:900px;
  width:1024px;
  height:2px;
}
#u15927 {
  position:absolute;
  left:10px;
  top:10px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15928 {
  position:absolute;
  left:138px;
  top:242px;
  width:884px;
  height:335px;
}
#u15929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15929 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15930 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u15931 {
  position:absolute;
  left:80px;
  top:0px;
  width:600px;
  height:30px;
}
#u15932 {
  position:absolute;
  left:2px;
  top:6px;
  width:596px;
  word-wrap:break-word;
}
#u15933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15933 {
  position:absolute;
  left:680px;
  top:0px;
  width:100px;
  height:30px;
}
#u15934 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u15935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15935 {
  position:absolute;
  left:780px;
  top:0px;
  width:99px;
  height:30px;
}
#u15936 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u15937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15937 {
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
}
#u15938 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u15939 {
  position:absolute;
  left:80px;
  top:30px;
  width:600px;
  height:30px;
}
#u15940 {
  position:absolute;
  left:2px;
  top:6px;
  width:596px;
  word-wrap:break-word;
}
#u15941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15941 {
  position:absolute;
  left:680px;
  top:30px;
  width:100px;
  height:30px;
}
#u15942 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15943 {
  position:absolute;
  left:780px;
  top:30px;
  width:99px;
  height:30px;
}
#u15944 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15945 {
  position:absolute;
  left:0px;
  top:60px;
  width:80px;
  height:30px;
}
#u15946 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u15947 {
  position:absolute;
  left:80px;
  top:60px;
  width:600px;
  height:30px;
}
#u15948 {
  position:absolute;
  left:2px;
  top:6px;
  width:596px;
  word-wrap:break-word;
}
#u15949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15949 {
  position:absolute;
  left:680px;
  top:60px;
  width:100px;
  height:30px;
}
#u15950 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15951 {
  position:absolute;
  left:780px;
  top:60px;
  width:99px;
  height:30px;
}
#u15952 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15953 {
  position:absolute;
  left:0px;
  top:90px;
  width:80px;
  height:30px;
}
#u15954 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u15955 {
  position:absolute;
  left:80px;
  top:90px;
  width:600px;
  height:30px;
}
#u15956 {
  position:absolute;
  left:2px;
  top:6px;
  width:596px;
  word-wrap:break-word;
}
#u15957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15957 {
  position:absolute;
  left:680px;
  top:90px;
  width:100px;
  height:30px;
}
#u15958 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15959 {
  position:absolute;
  left:780px;
  top:90px;
  width:99px;
  height:30px;
}
#u15960 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15961 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:30px;
}
#u15962 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u15963 {
  position:absolute;
  left:80px;
  top:120px;
  width:600px;
  height:30px;
}
#u15964 {
  position:absolute;
  left:2px;
  top:6px;
  width:596px;
  word-wrap:break-word;
}
#u15965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15965 {
  position:absolute;
  left:680px;
  top:120px;
  width:100px;
  height:30px;
}
#u15966 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15967 {
  position:absolute;
  left:780px;
  top:120px;
  width:99px;
  height:30px;
}
#u15968 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15969 {
  position:absolute;
  left:0px;
  top:150px;
  width:80px;
  height:30px;
}
#u15970 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u15971 {
  position:absolute;
  left:80px;
  top:150px;
  width:600px;
  height:30px;
}
#u15972 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15973 {
  position:absolute;
  left:680px;
  top:150px;
  width:100px;
  height:30px;
}
#u15974 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15975 {
  position:absolute;
  left:780px;
  top:150px;
  width:99px;
  height:30px;
}
#u15976 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15977 {
  position:absolute;
  left:0px;
  top:180px;
  width:80px;
  height:30px;
}
#u15978 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u15979 {
  position:absolute;
  left:80px;
  top:180px;
  width:600px;
  height:30px;
}
#u15980 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15981 {
  position:absolute;
  left:680px;
  top:180px;
  width:100px;
  height:30px;
}
#u15982 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15983 {
  position:absolute;
  left:780px;
  top:180px;
  width:99px;
  height:30px;
}
#u15984 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15985 {
  position:absolute;
  left:0px;
  top:210px;
  width:80px;
  height:30px;
}
#u15986 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u15987 {
  position:absolute;
  left:80px;
  top:210px;
  width:600px;
  height:30px;
}
#u15988 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15989 {
  position:absolute;
  left:680px;
  top:210px;
  width:100px;
  height:30px;
}
#u15990 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15991 {
  position:absolute;
  left:780px;
  top:210px;
  width:99px;
  height:30px;
}
#u15992 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15993 {
  position:absolute;
  left:0px;
  top:240px;
  width:80px;
  height:30px;
}
#u15994 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u15995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u15995 {
  position:absolute;
  left:80px;
  top:240px;
  width:600px;
  height:30px;
}
#u15996 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15997 {
  position:absolute;
  left:680px;
  top:240px;
  width:100px;
  height:30px;
}
#u15998 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u15999 {
  position:absolute;
  left:780px;
  top:240px;
  width:99px;
  height:30px;
}
#u16000 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u16001 {
  position:absolute;
  left:0px;
  top:270px;
  width:80px;
  height:30px;
}
#u16002 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u16003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u16003 {
  position:absolute;
  left:80px;
  top:270px;
  width:600px;
  height:30px;
}
#u16004 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16005 {
  position:absolute;
  left:680px;
  top:270px;
  width:100px;
  height:30px;
}
#u16006 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u16007 {
  position:absolute;
  left:780px;
  top:270px;
  width:99px;
  height:30px;
}
#u16008 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u16009 {
  position:absolute;
  left:0px;
  top:300px;
  width:80px;
  height:30px;
}
#u16010 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u16011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u16011 {
  position:absolute;
  left:80px;
  top:300px;
  width:600px;
  height:30px;
}
#u16012 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16013 {
  position:absolute;
  left:680px;
  top:300px;
  width:100px;
  height:30px;
}
#u16014 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u16015 {
  position:absolute;
  left:780px;
  top:300px;
  width:99px;
  height:30px;
}
#u16016 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16018 {
  position:absolute;
  left:138px;
  top:126px;
  width:29px;
  height:16px;
}
#u16019 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16020 {
  position:absolute;
  left:188px;
  top:117px;
  width:178px;
  height:34px;
}
#u16020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16021 {
  position:absolute;
  left:404px;
  top:126px;
  width:15px;
  height:16px;
}
#u16022 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16023 {
  position:absolute;
  left:444px;
  top:117px;
  width:178px;
  height:34px;
}
#u16023_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16024 {
  position:absolute;
  left:891px;
  top:117px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u16025 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u16026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16026 {
  position:absolute;
  left:891px;
  top:172px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u16027 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u16029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16030 {
  position:absolute;
  left:531px;
  top:616px;
  width:40px;
  height:36px;
}
#u16031 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16032 {
  position:absolute;
  left:689px;
  top:616px;
  width:40px;
  height:36px;
}
#u16033 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u16034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16034 {
  position:absolute;
  left:960px;
  top:616px;
  width:40px;
  height:36px;
}
#u16035 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16036 {
  position:absolute;
  left:611px;
  top:616px;
  width:40px;
  height:36px;
}
#u16037 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u16038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16038 {
  position:absolute;
  left:650px;
  top:616px;
  width:40px;
  height:36px;
}
#u16039 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u16040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16040 {
  position:absolute;
  left:728px;
  top:616px;
  width:40px;
  height:36px;
}
#u16041 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u16042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16042 {
  position:absolute;
  left:764px;
  top:616px;
  width:40px;
  height:36px;
}
#u16043 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u16044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16044 {
  position:absolute;
  left:803px;
  top:616px;
  width:40px;
  height:36px;
}
#u16045 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u16046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16046 {
  position:absolute;
  left:842px;
  top:616px;
  width:40px;
  height:36px;
}
#u16047 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u16048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16048 {
  position:absolute;
  left:881px;
  top:616px;
  width:40px;
  height:36px;
}
#u16049 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u16050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16050 {
  position:absolute;
  left:572px;
  top:616px;
  width:40px;
  height:36px;
}
#u16051 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u16052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16052 {
  position:absolute;
  left:920px;
  top:616px;
  width:40px;
  height:36px;
}
#u16053 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u16054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16054 {
  position:absolute;
  left:965px;
  top:619px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16055 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16056 {
  position:absolute;
  left:536px;
  top:619px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u16057 {
  position:absolute;
  left:0px;
  top:7px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
