body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:786px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8850 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:786px;
}
#u8851 {
  position:absolute;
  left:2px;
  top:385px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:786px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8852 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:786px;
}
#u8853 {
  position:absolute;
  left:2px;
  top:385px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.909803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8854 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
}
#u8855 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8856 {
  position:absolute;
  left:1190px;
  top:21px;
  width:15px;
  height:15px;
}
#u8857 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8858 {
  position:absolute;
  left:1075px;
  top:21px;
  width:15px;
  height:15px;
}
#u8859 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u8860 {
  position:absolute;
  left:1215px;
  top:20px;
  width:25px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u8861 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8863 {
  position:absolute;
  left:1135px;
  top:21px;
  width:15px;
  height:15px;
}
#u8864 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8865 {
  position:absolute;
  left:1141px;
  top:14px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u8866 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u8867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8867 {
  position:absolute;
  left:168px;
  top:19px;
  width:37px;
  height:20px;
  color:#666666;
}
#u8868 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8870 {
  position:absolute;
  left:38px;
  top:21px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8871 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8872 {
  position:absolute;
  left:13px;
  top:21px;
  width:15px;
  height:15px;
}
#u8873 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8875 {
  position:absolute;
  left:38px;
  top:77px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8876 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8877 {
  position:absolute;
  left:13px;
  top:77px;
  width:15px;
  height:15px;
}
#u8878 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8880 {
  position:absolute;
  left:38px;
  top:134px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8881 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8882 {
  position:absolute;
  left:13px;
  top:134px;
  width:15px;
  height:15px;
}
#u8883 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8885 {
  position:absolute;
  left:38px;
  top:190px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8886 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8887 {
  position:absolute;
  left:13px;
  top:190px;
  width:15px;
  height:15px;
}
#u8888 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8890 {
  position:absolute;
  left:38px;
  top:246px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8891 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8892 {
  position:absolute;
  left:13px;
  top:246px;
  width:15px;
  height:15px;
}
#u8893 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8895 {
  position:absolute;
  left:38px;
  top:303px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8896 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8897 {
  position:absolute;
  left:13px;
  top:303px;
  width:15px;
  height:15px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u8898 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8900 {
  position:absolute;
  left:38px;
  top:359px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8902 {
  position:absolute;
  left:13px;
  top:359px;
  width:15px;
  height:15px;
  font-family:'ElegantIcons';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u8903 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u8904 {
  position:absolute;
  left:171px;
  top:63px;
  width:145px;
  height:24px;
  font-size:18px;
  color:#666666;
}
#u8905 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8907 {
  position:absolute;
  left:171px;
  top:97px;
  width:95px;
  height:20px;
  color:#666666;
}
#u8908 {
  position:absolute;
  left:10px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8909 {
  position:absolute;
  left:171px;
  top:101px;
  width:5px;
  height:12px;
}
#u8910 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8911 {
  position:absolute;
  left:171px;
  top:127px;
  width:1081px;
  height:71px;
}
#u8912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u8912 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u8913 {
  position:absolute;
  left:2px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u8914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u8914 {
  position:absolute;
  left:269px;
  top:0px;
  width:269px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u8915 {
  position:absolute;
  left:2px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u8916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u8916 {
  position:absolute;
  left:538px;
  top:0px;
  width:269px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u8917 {
  position:absolute;
  left:2px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u8918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:36px;
}
#u8918 {
  position:absolute;
  left:807px;
  top:0px;
  width:269px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u8919 {
  position:absolute;
  left:2px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u8920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u8920 {
  position:absolute;
  left:0px;
  top:36px;
  width:269px;
  height:30px;
  color:#999999;
}
#u8921 {
  position:absolute;
  left:2px;
  top:7px;
  width:265px;
  word-wrap:break-word;
}
#u8922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u8922 {
  position:absolute;
  left:269px;
  top:36px;
  width:269px;
  height:30px;
  color:#999999;
}
#u8923 {
  position:absolute;
  left:2px;
  top:7px;
  width:265px;
  word-wrap:break-word;
}
#u8924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u8924 {
  position:absolute;
  left:538px;
  top:36px;
  width:269px;
  height:30px;
  color:#999999;
}
#u8925 {
  position:absolute;
  left:2px;
  top:7px;
  width:265px;
  word-wrap:break-word;
}
#u8926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u8926 {
  position:absolute;
  left:807px;
  top:36px;
  width:269px;
  height:30px;
  color:#999999;
}
#u8927 {
  position:absolute;
  left:2px;
  top:7px;
  width:265px;
  word-wrap:break-word;
}
#u8928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8928 {
  position:absolute;
  left:1192px;
  top:97px;
  width:31px;
  height:20px;
}
#u8929 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u8930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8931 {
  position:absolute;
  left:171px;
  top:209px;
  width:109px;
  height:20px;
  color:#666666;
}
#u8932 {
  position:absolute;
  left:10px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8933 {
  position:absolute;
  left:171px;
  top:213px;
  width:5px;
  height:12px;
}
#u8934 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8936 {
  position:absolute;
  left:171px;
  top:245px;
  width:1076px;
  height:225px;
}
#u8937 {
  position:absolute;
  left:2px;
  top:104px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8938 {
  position:absolute;
  left:213px;
  top:480px;
  width:39px;
  height:20px;
  color:#666666;
}
#u8939 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8940 {
  position:absolute;
  left:366px;
  top:480px;
  width:39px;
  height:20px;
  color:#666666;
}
#u8941 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8942 {
  position:absolute;
  left:520px;
  top:480px;
  width:39px;
  height:20px;
  color:#666666;
}
#u8943 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8944 {
  position:absolute;
  left:673px;
  top:480px;
  width:39px;
  height:20px;
  color:#666666;
}
#u8945 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8946 {
  position:absolute;
  left:826px;
  top:480px;
  width:39px;
  height:20px;
  color:#666666;
}
#u8947 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8948 {
  position:absolute;
  left:980px;
  top:480px;
  width:39px;
  height:20px;
  color:#666666;
}
#u8949 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u8950 {
  position:absolute;
  left:1133px;
  top:480px;
  width:39px;
  height:20px;
  color:#666666;
}
#u8951 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u8952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8952 {
  position:absolute;
  left:228px;
  top:396px;
  width:10px;
  height:10px;
}
#u8953 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8954 {
  position:absolute;
  left:381px;
  top:362px;
  width:10px;
  height:10px;
}
#u8955 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8956 {
  position:absolute;
  left:535px;
  top:409px;
  width:10px;
  height:10px;
}
#u8957 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8958 {
  position:absolute;
  left:688px;
  top:388px;
  width:10px;
  height:10px;
}
#u8959 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8960 {
  position:absolute;
  left:841px;
  top:396px;
  width:10px;
  height:10px;
}
#u8961 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8962 {
  position:absolute;
  left:995px;
  top:388px;
  width:10px;
  height:10px;
}
#u8963 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8964 {
  position:absolute;
  left:1148px;
  top:353px;
  width:10px;
  height:10px;
}
#u8965 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:57px;
}
#u8966p000 {
  position:absolute;
  left:-3px;
  top:25px;
  width:161px;
  height:3px;
  -webkit-transform:rotate(-12deg);
  -moz-transform:rotate(-12deg);
  -ms-transform:rotate(-12deg);
  transform:rotate(-12deg);
}
#u8966p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:4px;
}
#u8966p001 {
  position:absolute;
  left:150px;
  top:31px;
  width:165px;
  height:3px;
  -webkit-transform:rotate(17deg);
  -moz-transform:rotate(17deg);
  -ms-transform:rotate(17deg);
  transform:rotate(17deg);
}
#u8966p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:4px;
}
#u8966p002 {
  position:absolute;
  left:307px;
  top:44px;
  width:158px;
  height:4px;
  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  -ms-transform:rotate(-8deg);
  transform:rotate(-8deg);
}
#u8966p002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:5px;
}
#u8966p003 {
  position:absolute;
  left:461px;
  top:38px;
  width:156px;
  height:3px;
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform:rotate(3deg);
  transform:rotate(3deg);
}
#u8966p003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:4px;
}
#u8966p004 {
  position:absolute;
  left:613px;
  top:38px;
  width:157px;
  height:3px;
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  transform:rotate(-3deg);
}
#u8966p004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:4px;
}
#u8966p005 {
  position:absolute;
  left:765px;
  top:17px;
  width:161px;
  height:2px;
  -webkit-transform:rotate(-13deg);
  -moz-transform:rotate(-13deg);
  -ms-transform:rotate(-13deg);
  transform:rotate(-13deg);
}
#u8966p005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:3px;
}
#u8966.compound {
  width:0px;
  height:0px;
}
#u8966 {
  position:absolute;
  left:231px;
  top:358px;
  width:923px;
  height:56px;
}
#u8967 {
  position:absolute;
  left:2px;
  top:20px;
  width:919px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u8968 {
  position:absolute;
  left:236px;
  top:332px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FF9966;
  text-align:center;
}
#u8969 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8970 {
  position:absolute;
  left:326px;
  top:65px;
  width:57px;
  height:20px;
}
#u8971 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
