body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u5375 {
  position:absolute;
  left:100px;
  top:0px;
  width:394px;
  height:834px;
}
#u5376 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5377 {
  position:absolute;
  left:256px;
  top:166px;
  width:94px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5378 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u5379 {
  position:absolute;
  left:146px;
  top:217px;
  width:303px;
  height:35px;
}
#u5379_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5380 {
  position:absolute;
  left:146px;
  top:275px;
  width:303px;
  height:35px;
}
#u5380_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5381 {
  position:absolute;
  left:146px;
  top:360px;
  width:303px;
  height:46px;
  color:#FFFFFF;
}
#u5382 {
  position:absolute;
  left:2px;
  top:15px;
  width:299px;
  word-wrap:break-word;
}
#u5383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5383 {
  position:absolute;
  left:148px;
  top:168px;
  width:22px;
  height:22px;
  color:#333333;
}
#u5384 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
