body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:700px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6082 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:700px;
}
#u6083 {
  position:absolute;
  left:2px;
  top:342px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:480px;
}
#u6084 {
  position:absolute;
  left:505px;
  top:62px;
  width:270px;
  height:480px;
}
#u6085 {
  position:absolute;
  left:2px;
  top:232px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u6086 {
  position:absolute;
  left:752px;
  top:18px;
  width:120px;
  height:120px;
  font-size:16px;
  color:#666666;
}
#u6087 {
  position:absolute;
  left:2px;
  top:50px;
  width:116px;
  word-wrap:break-word;
}
#u6088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6088 {
  position:absolute;
  left:350px;
  top:48px;
  width:100px;
  height:100px;
  font-size:16px;
  color:#666666;
}
#u6089 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u6090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6090 {
  position:absolute;
  left:326px;
  top:219px;
  width:100px;
  height:100px;
  color:#666666;
}
#u6091 {
  position:absolute;
  left:2px;
  top:33px;
  width:96px;
  word-wrap:break-word;
}
#u6092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6092 {
  position:absolute;
  left:459px;
  top:474px;
  width:60px;
  height:60px;
  font-size:16px;
  color:#666666;
}
#u6093 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u6094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6094 {
  position:absolute;
  left:485px;
  top:544px;
  width:60px;
  height:60px;
  font-size:16px;
  color:#666666;
}
#u6095 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u6096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u6096 {
  position:absolute;
  left:563px;
  top:520px;
  width:120px;
  height:120px;
  font-size:16px;
  color:#666666;
}
#u6097 {
  position:absolute;
  left:2px;
  top:50px;
  width:116px;
  word-wrap:break-word;
}
#u6098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6098 {
  position:absolute;
  left:720px;
  top:439px;
  width:60px;
  height:60px;
  font-size:16px;
  color:#666666;
}
#u6099 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u6100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6100 {
  position:absolute;
  left:785px;
  top:376px;
  width:80px;
  height:80px;
  font-size:16px;
  color:#666666;
}
#u6101 {
  position:absolute;
  left:2px;
  top:30px;
  width:76px;
  word-wrap:break-word;
}
#u6102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u6102 {
  position:absolute;
  left:824px;
  top:148px;
  width:140px;
  height:140px;
  font-size:14px;
  color:#666666;
}
#u6103 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  word-wrap:break-word;
}
