body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1030px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:41px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5662 {
  position:absolute;
  left:30px;
  top:136px;
  width:9px;
  height:41px;
}
#u5663 {
  position:absolute;
  left:2px;
  top:12px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:31px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-right:0px;
  border-radius:1px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5664 {
  position:absolute;
  left:30px;
  top:226px;
  width:9px;
  height:31px;
}
#u5665 {
  position:absolute;
  left:2px;
  top:8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:31px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-right:0px;
  border-radius:1px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5666 {
  position:absolute;
  left:30px;
  top:299px;
  width:9px;
  height:31px;
}
#u5667 {
  position:absolute;
  left:2px;
  top:8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:11px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5668 {
  position:absolute;
  left:335px;
  top:0px;
  width:69px;
  height:11px;
}
#u5669 {
  position:absolute;
  left:2px;
  top:-2px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:1293px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5670 {
  position:absolute;
  left:37px;
  top:7px;
  width:437px;
  height:1293px;
}
#u5671 {
  position:absolute;
  left:2px;
  top:638px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1009px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5672 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:1009px;
}
#u5673 {
  position:absolute;
  left:2px;
  top:496px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5674 {
  position:absolute;
  left:214px;
  top:75px;
  width:81px;
  height:17px;
}
#u5675 {
  position:absolute;
  left:2px;
  top:0px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5676 {
  position:absolute;
  left:247px;
  top:46px;
  width:17px;
  height:17px;
}
#u5677 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5678 {
  position:absolute;
  left:214px;
  top:1177px;
  width:83px;
  height:83px;
}
#u5679 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5680 {
  position:absolute;
  left:1010px;
  top:860px;
  width:50px;
  height:50px;
}
#u5681 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u5682 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:65px;
}
#u5683 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5684 {
  position:absolute;
  left:403px;
  top:167px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5685 {
  position:absolute;
  left:204px;
  top:174px;
  width:104px;
  height:16px;
  color:#666666;
}
#u5686 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u5687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u5687 {
  position:absolute;
  left:68px;
  top:1104px;
  width:375px;
  height:45px;
}
#u5688 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5689 {
  position:absolute;
  left:68px;
  top:1105px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#666666;
}
#u5690 {
  position:absolute;
  left:185px;
  top:803px;
  width:143px;
  height:16px;
  text-decoration:underline;
  color:#666666;
}
#u5691 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u5692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5693 {
  position:absolute;
  left:80px;
  top:216px;
  width:22px;
  height:22px;
}
#u5694 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5695 {
  position:absolute;
  left:98px;
  top:216px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u5696 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u5697 {
  position:absolute;
  left:231px;
  top:213px;
  width:49px;
  height:28px;
  font-size:24px;
}
#u5698 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5699 {
  position:absolute;
  left:80px;
  top:363px;
  width:352px;
  height:56px;
}
#u5700 {
  position:absolute;
  left:2px;
  top:20px;
  width:348px;
  word-wrap:break-word;
}
#u5701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5701 {
  position:absolute;
  left:80px;
  top:581px;
  width:127px;
  height:56px;
}
#u5702 {
  position:absolute;
  left:2px;
  top:20px;
  width:123px;
  word-wrap:break-word;
}
#u5703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5703 {
  position:absolute;
  left:80px;
  top:697px;
  width:352px;
  height:56px;
  color:#FFFFFF;
}
#u5704 {
  position:absolute;
  left:2px;
  top:20px;
  width:348px;
  word-wrap:break-word;
}
#u5705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5705 {
  position:absolute;
  left:217px;
  top:581px;
  width:215px;
  height:56px;
}
#u5706 {
  position:absolute;
  left:2px;
  top:20px;
  width:211px;
  word-wrap:break-word;
}
#u5707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5707 {
  position:absolute;
  left:80px;
  top:434px;
  width:352px;
  height:56px;
}
#u5708 {
  position:absolute;
  left:2px;
  top:20px;
  width:348px;
  word-wrap:break-word;
}
#u5709 {
  position:absolute;
  left:80px;
  top:657px;
  width:180px;
  height:16px;
  text-decoration:underline;
}
#u5710 {
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u5709_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5711 {
  position:absolute;
  left:80px;
  top:505px;
  width:352px;
  height:56px;
}
#u5712 {
  position:absolute;
  left:2px;
  top:20px;
  width:348px;
  word-wrap:break-word;
}
#u5713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5713 {
  position:absolute;
  left:80px;
  top:267px;
  width:352px;
  height:56px;
}
#u5714 {
  position:absolute;
  left:2px;
  top:20px;
  width:348px;
  word-wrap:break-word;
}
#u5715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u5715 {
  position:absolute;
  left:80px;
  top:333px;
  width:196px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u5716 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u5718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5718 {
  position:absolute;
  left:68px;
  top:853px;
  width:375px;
  height:1px;
}
#u5719 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5720 {
  position:absolute;
  left:78px;
  top:893px;
  width:29px;
  height:16px;
  color:#666666;
}
#u5721 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5722 {
  position:absolute;
  left:133px;
  top:893px;
  width:29px;
  height:16px;
  color:#666666;
}
#u5723 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5724 {
  position:absolute;
  left:188px;
  top:887px;
  width:163px;
  height:28px;
}
#u5725 {
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5726 {
  position:absolute;
  left:208px;
  top:888px;
  width:128px;
  height:27px;
}
#u5726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:27px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5727 {
  position:absolute;
  left:318px;
  top:892px;
  width:19px;
  height:19px;
}
#u5728 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5729 {
  position:absolute;
  left:377px;
  top:893px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5730 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5731 {
  position:absolute;
  left:119px;
  top:937px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5732 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5733 {
  position:absolute;
  left:195px;
  top:937px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5734 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5735 {
  position:absolute;
  left:348px;
  top:937px;
  width:43px;
  height:16px;
  color:#666666;
}
#u5736 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5737 {
  position:absolute;
  left:272px;
  top:937px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5738 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u5739 {
  position:absolute;
  left:185px;
  top:935px;
  width:1px;
  height:20px;
}
#u5740 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u5741 {
  position:absolute;
  left:262px;
  top:935px;
  width:1px;
  height:20px;
}
#u5742 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u5743 {
  position:absolute;
  left:338px;
  top:935px;
  width:1px;
  height:20px;
}
#u5744 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u5746 {
  position:absolute;
  left:143px;
  top:984px;
  width:85px;
  height:29px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5747 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
}
#u5748 {
  position:absolute;
  left:238px;
  top:999px;
  width:145px;
  height:14px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5749 {
  position:absolute;
  left:2px;
  top:-1px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5750 {
  position:absolute;
  left:194px;
  top:1050px;
  width:164px;
  height:16px;
  color:#666666;
}
#u5751 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u5752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5752 {
  position:absolute;
  left:154px;
  top:1043px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5753 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5755 {
  position:absolute;
  left:68px;
  top:1043px;
  width:375px;
  height:60px;
  color:#666666;
}
#u5756 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  word-wrap:break-word;
}
#u5757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5757 {
  position:absolute;
  left:423px;
  top:1043px;
  width:20px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5758 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5759 {
  position:absolute;
  left:78px;
  top:1048px;
  width:50px;
  height:50px;
  color:#666666;
}
#u5760 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5761 {
  position:absolute;
  left:383px;
  top:1058px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5762 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5764 {
  position:absolute;
  left:403px;
  top:213px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5765 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u5766 {
  position:absolute;
  left:516px;
  top:650px;
  width:24px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u5767 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u5768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5768 {
  position:absolute;
  left:570px;
  top:657px;
  width:300px;
  height:32px;
}
#u5769 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:228px;
  background:inherit;
  background-color:rgba(217, 222, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5770 {
  position:absolute;
  left:570px;
  top:710px;
  width:289px;
  height:228px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u5771 {
  position:absolute;
  left:2px;
  top:106px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:2px;
}
#u5772 {
  position:absolute;
  left:570px;
  top:758px;
  width:289px;
  height:1px;
}
#u5773 {
  position:absolute;
  left:2px;
  top:-8px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:20px;
}
#u5774 {
  position:absolute;
  left:589px;
  top:730px;
  width:257px;
  height:20px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:20px;
}
#u5775 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u5776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5776 {
  position:absolute;
  left:580px;
  top:769px;
  width:270px;
  height:151px;
  color:#666666;
}
#u5777 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
