body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1080px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16373 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1080px;
}
#u16374 {
  position:absolute;
  left:2px;
  top:532px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:50px;
}
#u16375 {
  position:absolute;
  left:400px;
  top:307px;
  width:481px;
  height:50px;
  font-family:'华文彩云 Regular', '华文彩云';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u16376 {
  position:absolute;
  left:2px;
  top:17px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16377 {
  position:absolute;
  left:341px;
  top:221px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF6685;
}
#u16378 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16379 {
  position:absolute;
  left:575px;
  top:245px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00CC99;
}
#u16380 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16381 {
  position:absolute;
  left:702px;
  top:207px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00CCFF;
}
#u16382 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16383 {
  position:absolute;
  left:871px;
  top:286px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(255, 51, 204, 0.576470588235294);
}
#u16384 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16385 {
  position:absolute;
  left:414px;
  top:286px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF9966;
}
#u16386 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16387 {
  position:absolute;
  left:771px;
  top:267px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 128, 0, 0.576470588235294);
}
#u16388 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16389 {
  position:absolute;
  left:972px;
  top:251px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(70, 140, 200, 0.576470588235294);
}
#u16390 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16391 {
  position:absolute;
  left:446px;
  top:193px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#00CCFF;
}
#u16392 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:270px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16393 {
  position:absolute;
  left:209px;
  top:349px;
  width:864px;
  height:270px;
}
#u16394 {
  position:absolute;
  left:2px;
  top:127px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#434343;
}
#u16395 {
  position:absolute;
  left:265px;
  top:390px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#434343;
}
#u16396 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#434343;
}
#u16397 {
  position:absolute;
  left:289px;
  top:449px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#434343;
}
#u16398 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u16399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16399 {
  position:absolute;
  left:327px;
  top:379px;
  width:717px;
  height:36px;
}
#u16400 {
  position:absolute;
  left:2px;
  top:10px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16401 {
  position:absolute;
  left:328px;
  top:380px;
  width:715px;
  height:34px;
}
#u16401_input {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16402 {
  position:absolute;
  left:328px;
  top:439px;
  width:717px;
  height:36px;
}
#u16403 {
  position:absolute;
  left:2px;
  top:10px;
  width:713px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16404 {
  position:absolute;
  left:329px;
  top:440px;
  width:715px;
  height:34px;
}
#u16404_input {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16405 {
  position:absolute;
  left:327px;
  top:509px;
  width:112px;
  height:16px;
}
#u16406 {
  position:absolute;
  left:16px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u16405_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u16407 {
  position:absolute;
  left:329px;
  top:553px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u16408 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u16409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#666666;
}
#u16409 {
  position:absolute;
  left:965px;
  top:508px;
  width:79px;
  height:19px;
  font-size:13px;
  text-decoration:underline;
  color:#666666;
}
#u16410 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#666666;
}
#u16411 {
  position:absolute;
  left:469px;
  top:562px;
  width:128px;
  height:19px;
  font-size:13px;
  text-decoration:underline;
  color:#666666;
}
#u16412 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
