body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3939 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:668px;
}
#u3940 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3941 {
  position:absolute;
  left:69px;
  top:142px;
  width:374px;
  height:64px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u3943 {
  position:absolute;
  left:81px;
  top:173px;
  width:24px;
  height:23px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3945 {
  position:absolute;
  left:224px;
  top:175px;
  width:65px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
}
#u3947 {
  position:absolute;
  left:68px;
  top:752px;
  width:375px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3948 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u3949 {
  position:absolute;
  left:77px;
  top:216px;
  width:356px;
  height:234px;
}
#u3949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:234px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u3950 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:24px;
}
#u3951 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 192, 193, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3953 {
  position:absolute;
  left:65px;
  top:20px;
  width:380px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u3954 {
  position:absolute;
  left:2px;
  top:18px;
  width:376px;
  word-wrap:break-word;
}
#u3955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3955 {
  position:absolute;
  left:445px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u3956 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(199, 185, 190, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3957 {
  position:absolute;
  left:1525px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u3958 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(227, 226, 219, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3959 {
  position:absolute;
  left:985px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u3960 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 222, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3961 {
  position:absolute;
  left:2065px;
  top:20px;
  width:540px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u3962 {
  position:absolute;
  left:2px;
  top:18px;
  width:536px;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u3963 {
  position:absolute;
  left:430px;
  top:765px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u3964 {
  position:absolute;
  left:8px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:4px 9px;
  -ms-transform-origin:4px 9px;
  -moz-transform-origin:4px 9px;
  -webkit-transform-origin:4px 9px;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u3965 {
  position:absolute;
  left:511px;
  top:770px;
  width:420px;
  height:19px;
  color:#FF00FF;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3967 {
  position:absolute;
  left:470px;
  top:768px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u3968 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3969 {
  position:absolute;
  left:2160px;
  top:142px;
  width:375px;
  height:667px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
