body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  color:#1E1E1E;
}
#u6873 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:568px;
  color:#1E1E1E;
}
#u6874 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:788px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:51px;
  color:#1E1E1E;
}
#u6876 {
  position:absolute;
  left:6px;
  top:8px;
  width:370px;
  height:788px;
  color:#1E1E1E;
}
#u6877 {
  position:absolute;
  left:2px;
  top:386px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:9px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  color:#1E1E1E;
}
#u6878 {
  position:absolute;
  left:255px;
  top:0px;
  width:59px;
  height:9px;
  color:#1E1E1E;
}
#u6879 {
  position:absolute;
  left:2px;
  top:-4px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6880 {
  position:absolute;
  left:181px;
  top:35px;
  width:17px;
  height:17px;
  color:#1E1E1E;
}
#u6881 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  color:#1E1E1E;
}
#u6882 {
  position:absolute;
  left:155px;
  top:64px;
  width:69px;
  height:16px;
  color:#1E1E1E;
}
#u6883 {
  position:absolute;
  left:2px;
  top:0px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u6884 {
  position:absolute;
  left:155px;
  top:701px;
  width:69px;
  height:69px;
  color:#1E1E1E;
}
#u6885 {
  position:absolute;
  left:2px;
  top:27px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  color:#1E1E1E;
}
#u6886 {
  position:absolute;
  left:0px;
  top:121px;
  width:7px;
  height:35px;
  color:#1E1E1E;
}
#u6887 {
  position:absolute;
  left:2px;
  top:10px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  color:#1E1E1E;
}
#u6888 {
  position:absolute;
  left:0px;
  top:198px;
  width:7px;
  height:26px;
  color:#1E1E1E;
}
#u6889 {
  position:absolute;
  left:2px;
  top:5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  color:#1E1E1E;
}
#u6890 {
  position:absolute;
  left:0px;
  top:263px;
  width:7px;
  height:26px;
  color:#1E1E1E;
}
#u6891 {
  position:absolute;
  left:2px;
  top:5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u6892 {
  position:absolute;
  left:32px;
  top:140px;
  width:320px;
  height:548px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u6893 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  color:#FFFFFF;
}
#u6895 {
  position:absolute;
  left:32px;
  top:120px;
  width:320px;
  height:20px;
  color:#FFFFFF;
}
#u6896 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u6897 {
  position:absolute;
  left:38px;
  top:126px;
  width:5px;
  height:5px;
  color:#FFFFFF;
}
#u6898 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u6899 {
  position:absolute;
  left:45px;
  top:126px;
  width:5px;
  height:5px;
  color:#FFFFFF;
}
#u6900 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u6901 {
  position:absolute;
  left:52px;
  top:126px;
  width:5px;
  height:5px;
  color:#FFFFFF;
}
#u6902 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u6903 {
  position:absolute;
  left:59px;
  top:126px;
  width:5px;
  height:5px;
  color:#FFFFFF;
}
#u6904 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u6905 {
  position:absolute;
  left:66px;
  top:126px;
  width:5px;
  height:5px;
  color:#FFFFFF;
}
#u6906 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6907 {
  position:absolute;
  left:168px;
  top:122px;
  width:53px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6908 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:7px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  color:#FFFFFF;
}
#u6909 {
  position:absolute;
  left:325px;
  top:126px;
  width:15px;
  height:7px;
  color:#FFFFFF;
}
#u6910 {
  position:absolute;
  left:2px;
  top:-5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  color:#FFFFFF;
}
#u6912 {
  position:absolute;
  left:342px;
  top:128px;
  width:2px;
  height:3px;
  color:#FFFFFF;
}
#u6913 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:1px;
  color:#FFFFFF;
}
#u6914 {
  position:absolute;
  left:324px;
  top:125px;
  width:18px;
  height:9px;
  color:#FFFFFF;
}
#u6915 {
  position:absolute;
  left:2px;
  top:-4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u6916 {
  position:absolute;
  left:32px;
  top:140px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u6917 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6918 {
  position:absolute;
  left:32px;
  top:137px;
  width:320px;
  height:46px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u6919 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:561px;
}
#u6921 {
  position:absolute;
  left:376px;
  top:121px;
  width:330px;
  height:561px;
  font-size:18px;
  color:#6699FF;
}
#u6922 {
  position:absolute;
  left:2px;
  top:270px;
  width:326px;
  word-wrap:break-word;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6923 {
  position:absolute;
  left:39px;
  top:150px;
  width:25px;
  height:25px;
}
#u6924 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6925 {
  position:absolute;
  left:162px;
  top:150px;
  width:109px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6926 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u6927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:52px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border-radius:15px;
}
#u6927 {
  position:absolute;
  left:1790px;
  top:1358px;
  width:10px;
  height:52px;
}
#u6928 {
  position:absolute;
  left:2px;
  top:18px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:52px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border-radius:15px;
}
#u6929 {
  position:absolute;
  left:1790px;
  top:506px;
  width:10px;
  height:52px;
}
#u6930 {
  position:absolute;
  left:2px;
  top:18px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  color:#FFFFFF;
}
#u6931 {
  position:absolute;
  left:58px;
  top:410px;
  width:275px;
  height:30px;
  color:#FFFFFF;
}
#u6932 {
  position:absolute;
  left:2px;
  top:7px;
  width:271px;
  word-wrap:break-word;
}
#u6933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6934 {
  position:absolute;
  left:148px;
  top:302px;
  width:200px;
  height:25px;
}
#u6934_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u6935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u6935 {
  position:absolute;
  left:67px;
  top:311px;
  width:60px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u6936 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u6937 {
  position:absolute;
  left:67px;
  top:346px;
  width:80px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u6938 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6939 {
  position:absolute;
  left:148px;
  top:340px;
  width:200px;
  height:25px;
}
#u6939_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u6940 {
  position:absolute;
  left:148px;
  top:224px;
  width:200px;
  height:25px;
}
#u6940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u6941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u6941 {
  position:absolute;
  left:67px;
  top:230px;
  width:60px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u6942 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6943p000 {
  position:absolute;
  left:49px;
  top:274px;
  width:303px;
  height:3px;
}
#u6943p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:3px;
}
#u6943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6944 {
  position:absolute;
  left:52px;
  top:267px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u6945 {
  position:absolute;
  left:39px;
  top:227px;
  width:25px;
  height:18px;
}
#u6946 {
  position:absolute;
  left:2px;
  top:1px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u6947 {
  position:absolute;
  left:39px;
  top:309px;
  width:25px;
  height:18px;
}
#u6948 {
  position:absolute;
  left:2px;
  top:1px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u6949 {
  position:absolute;
  left:39px;
  top:343px;
  width:25px;
  height:18px;
}
#u6950 {
  position:absolute;
  left:2px;
  top:1px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
