body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:100px;
  background:inherit;
  background-color:rgba(252, 244, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u12483 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:100px;
  font-size:20px;
  color:#666666;
}
#u12484 {
  position:absolute;
  left:2px;
  top:36px;
  width:1020px;
  word-wrap:break-word;
}
#u12485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12485 {
  position:absolute;
  left:804px;
  top:0px;
  width:100px;
  height:100px;
}
#u12486 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF3333;
}
#u12487 {
  position:absolute;
  left:904px;
  top:0px;
  width:120px;
  height:100px;
  font-size:18px;
  color:#FF3333;
}
#u12488 {
  position:absolute;
  left:2px;
  top:38px;
  width:116px;
  word-wrap:break-word;
}
#u12489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12489 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12490 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u12491 {
  position:absolute;
  left:930px;
  top:40px;
  width:25px;
  height:21px;
}
#u12492 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12494 {
  position:absolute;
  left:0px;
  top:1030px;
  width:1024px;
  height:64px;
  color:#FFFFFF;
}
#u12495 {
  position:absolute;
  left:2px;
  top:22px;
  width:1020px;
  word-wrap:break-word;
}
#u12497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u12497 {
  position:absolute;
  left:0px;
  top:105px;
  width:1024px;
  height:32px;
  color:#666666;
  text-align:left;
}
#u12498 {
  position:absolute;
  left:2px;
  top:6px;
  width:1020px;
  word-wrap:break-word;
}
#u12499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12499 {
  position:absolute;
  left:10px;
  top:160px;
  width:71px;
  height:20px;
}
#u12500 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12501 {
  position:absolute;
  left:98px;
  top:152px;
  width:618px;
  height:36px;
}
#u12501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:36px;
  background-color:#F2F2F2;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u12502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12502 {
  position:absolute;
  left:52px;
  top:227px;
  width:29px;
  height:20px;
}
#u12503 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12504 {
  position:absolute;
  left:98px;
  top:219px;
  width:300px;
  height:36px;
}
#u12504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background-color:#F2F2F2;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u12505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12505 {
  position:absolute;
  left:52px;
  top:293px;
  width:29px;
  height:20px;
}
#u12506 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12507 {
  position:absolute;
  left:98px;
  top:285px;
  width:300px;
  height:36px;
}
#u12507_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background-color:#F2F2F2;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u12508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12508 {
  position:absolute;
  left:38px;
  top:360px;
  width:43px;
  height:20px;
}
#u12509 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12510 {
  position:absolute;
  left:98px;
  top:352px;
  width:300px;
  height:36px;
}
#u12510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background-color:#F2F2F2;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u12511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12511 {
  position:absolute;
  left:52px;
  top:426px;
  width:29px;
  height:20px;
}
#u12512 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12513 {
  position:absolute;
  left:98px;
  top:418px;
  width:300px;
  height:36px;
}
#u12513_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background-color:#F2F2F2;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u12514 {
  position:absolute;
  left:416px;
  top:352px;
  width:300px;
  height:36px;
}
#u12514_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background-color:#F2F2F2;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u12515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12515 {
  position:absolute;
  left:726px;
  top:160px;
  width:73px;
  height:20px;
  color:#999999;
}
#u12516 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12517 {
  position:absolute;
  left:408px;
  top:227px;
  width:85px;
  height:20px;
  color:#999999;
}
#u12518 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12519 {
  position:absolute;
  left:408px;
  top:293px;
  width:85px;
  height:20px;
  color:#999999;
}
#u12520 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12521 {
  position:absolute;
  left:726px;
  top:360px;
  width:71px;
  height:20px;
  color:#999999;
}
#u12522 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12523 {
  position:absolute;
  left:408px;
  top:426px;
  width:57px;
  height:20px;
  color:#999999;
}
#u12524 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(70, 140, 200, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u12525 {
  position:absolute;
  left:10px;
  top:503px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u12526 {
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
