body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6169 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:668px;
}
#u6170 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6171 {
  position:absolute;
  left:69px;
  top:142px;
  width:374px;
  height:64px;
}
#u6172 {
  position:absolute;
  left:2px;
  top:24px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u6173 {
  position:absolute;
  left:81px;
  top:173px;
  width:24px;
  height:23px;
}
#u6174 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6175 {
  position:absolute;
  left:223px;
  top:175px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6176 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:24px;
}
#u6177 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:24px;
}
#u6178 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u6179 {
  position:absolute;
  left:78px;
  top:215px;
  width:80px;
  height:80px;
}
#u6180 {
  position:absolute;
  left:2px;
  top:21px;
  width:76px;
  word-wrap:break-word;
}
#u6181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u6181 {
  position:absolute;
  left:78px;
  top:275px;
  width:80px;
  height:25px;
  color:#666666;
  text-align:center;
}
#u6182 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u6183 {
  position:absolute;
  left:168px;
  top:215px;
  width:57px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u6184 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009DD9;
}
#u6185 {
  position:absolute;
  left:235px;
  top:215px;
  width:43px;
  height:16px;
  color:#009DD9;
}
#u6186 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6187 {
  position:absolute;
  left:168px;
  top:236px;
  width:127px;
  height:16px;
  color:#666666;
}
#u6188 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6189 {
  position:absolute;
  left:168px;
  top:258px;
  width:143px;
  height:16px;
  color:#666666;
}
#u6190 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u6191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6191 {
  position:absolute;
  left:168px;
  top:279px;
  width:159px;
  height:16px;
  color:#666666;
}
#u6192 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u6193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6193 {
  position:absolute;
  left:78px;
  top:324px;
  width:57px;
  height:16px;
  color:#666666;
}
#u6194 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6195 {
  position:absolute;
  left:68px;
  top:305px;
  width:375px;
  height:1px;
}
#u6196 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6197 {
  position:absolute;
  left:-104px;
  top:537px;
  width:375px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6199 {
  position:absolute;
  left:79px;
  top:360px;
  width:10px;
  height:10px;
}
#u6200 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009DD9;
}
#u6201 {
  position:absolute;
  left:106px;
  top:360px;
  width:300px;
  height:25px;
  color:#009DD9;
}
#u6202 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#009DD9;
}
#u6203 {
  position:absolute;
  left:106px;
  top:386px;
  width:121px;
  height:14px;
  font-size:11px;
  color:#009DD9;
}
#u6204 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u6205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6205 {
  position:absolute;
  left:79px;
  top:429px;
  width:10px;
  height:10px;
}
#u6206 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6207 {
  position:absolute;
  left:106px;
  top:429px;
  width:300px;
  height:25px;
  color:#666666;
}
#u6208 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u6209 {
  position:absolute;
  left:106px;
  top:455px;
  width:121px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u6210 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u6211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6211 {
  position:absolute;
  left:78px;
  top:492px;
  width:10px;
  height:10px;
}
#u6212 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6213 {
  position:absolute;
  left:105px;
  top:492px;
  width:300px;
  height:25px;
  color:#666666;
}
#u6214 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u6215 {
  position:absolute;
  left:105px;
  top:518px;
  width:121px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u6216 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u6217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u6217 {
  position:absolute;
  left:32px;
  top:172px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#FF00FF;
}
#u6218 {
  position:absolute;
  left:-1px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:13px 9px;
  -ms-transform-origin:13px 9px;
  -moz-transform-origin:13px 9px;
  -webkit-transform-origin:13px 9px;
}
#u6219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6219 {
  position:absolute;
  left:522px;
  top:175px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u6220 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u6221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u6221 {
  position:absolute;
  left:562px;
  top:177px;
  width:438px;
  height:20px;
  color:#FF00FF;
}
#u6222 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  word-wrap:break-word;
}
#u6223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u6223 {
  position:absolute;
  left:456px;
  top:233px;
  width:24px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u6224 {
  position:absolute;
  left:8px;
  top:6px;
  width:17px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:4px 9px;
  -ms-transform-origin:4px 9px;
  -moz-transform-origin:4px 9px;
  -webkit-transform-origin:4px 9px;
}
#u6225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6225 {
  position:absolute;
  left:522px;
  top:236px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FF00FF;
}
#u6226 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:10px 10px;
  -ms-transform-origin:10px 10px;
  -moz-transform-origin:10px 10px;
  -webkit-transform-origin:10px 10px;
}
#u6227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF00FF;
}
#u6227 {
  position:absolute;
  left:562px;
  top:238px;
  width:438px;
  height:20px;
  color:#FF00FF;
}
#u6228 {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  word-wrap:break-word;
}
#u6229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6229 {
  position:absolute;
  left:1031px;
  top:142px;
  width:375px;
  height:667px;
}
#u6230 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
