body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16067 {
  position:absolute;
  left:0px;
  top:63px;
  width:128px;
  height:480px;
}
#u16067_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:486px;
}
#u16068 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:485px;
}
#u16069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16069 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16070 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16071 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u16072 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16073 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
}
#u16074 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16075 {
  position:absolute;
  left:0px;
  top:96px;
  width:128px;
  height:32px;
}
#u16076 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16077 {
  position:absolute;
  left:0px;
  top:128px;
  width:128px;
  height:32px;
}
#u16078 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16079 {
  position:absolute;
  left:0px;
  top:160px;
  width:128px;
  height:32px;
}
#u16080 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16081 {
  position:absolute;
  left:0px;
  top:192px;
  width:128px;
  height:32px;
}
#u16082 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16083 {
  position:absolute;
  left:0px;
  top:224px;
  width:128px;
  height:32px;
}
#u16084 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16085 {
  position:absolute;
  left:0px;
  top:256px;
  width:128px;
  height:32px;
}
#u16086 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16087 {
  position:absolute;
  left:0px;
  top:288px;
  width:128px;
  height:32px;
}
#u16088 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16089 {
  position:absolute;
  left:0px;
  top:320px;
  width:128px;
  height:32px;
}
#u16090 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16091 {
  position:absolute;
  left:0px;
  top:352px;
  width:128px;
  height:32px;
}
#u16092 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16093 {
  position:absolute;
  left:0px;
  top:384px;
  width:128px;
  height:32px;
}
#u16094 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16095 {
  position:absolute;
  left:0px;
  top:416px;
  width:128px;
  height:32px;
}
#u16096 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16097 {
  position:absolute;
  left:0px;
  top:448px;
  width:128px;
  height:32px;
}
#u16098 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16099 {
  position:absolute;
  left:128px;
  top:160px;
  width:108px;
  height:128px;
  visibility:hidden;
}
#u16099_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:134px;
}
#u16100 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:133px;
}
#u16101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16101 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16102 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16103 {
  position:absolute;
  left:0px;
  top:32px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16104 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16105 {
  position:absolute;
  left:0px;
  top:64px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16106 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16107 {
  position:absolute;
  left:0px;
  top:96px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16108 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16109 {
  position:absolute;
  left:128px;
  top:128px;
  width:108px;
  height:192px;
  visibility:hidden;
}
#u16109_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:198px;
}
#u16110 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:197px;
}
#u16111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16111 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16112 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16113 {
  position:absolute;
  left:0px;
  top:32px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16114 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16115 {
  position:absolute;
  left:0px;
  top:64px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16116 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16117 {
  position:absolute;
  left:0px;
  top:96px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16118 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16119 {
  position:absolute;
  left:0px;
  top:128px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16120 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16121 {
  position:absolute;
  left:0px;
  top:160px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16122 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16123 {
  position:absolute;
  left:128px;
  top:192px;
  width:108px;
  height:160px;
  visibility:hidden;
}
#u16123_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:166px;
}
#u16124 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:165px;
}
#u16125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16125 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16126 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16127 {
  position:absolute;
  left:0px;
  top:32px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16128 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16129 {
  position:absolute;
  left:0px;
  top:64px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16130 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16131 {
  position:absolute;
  left:0px;
  top:96px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16132 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16133 {
  position:absolute;
  left:0px;
  top:128px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16134 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16135 {
  position:absolute;
  left:128px;
  top:224px;
  width:108px;
  height:128px;
  visibility:hidden;
}
#u16135_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:134px;
}
#u16136 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:133px;
}
#u16137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16137 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16138 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16139 {
  position:absolute;
  left:0px;
  top:32px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16140 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16141 {
  position:absolute;
  left:0px;
  top:64px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16142 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16143 {
  position:absolute;
  left:0px;
  top:96px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16144 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16145 {
  position:absolute;
  left:128px;
  top:256px;
  width:108px;
  height:192px;
  visibility:hidden;
}
#u16145_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:198px;
}
#u16146 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:197px;
}
#u16147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16147 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16148 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16149 {
  position:absolute;
  left:0px;
  top:32px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16150 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16151 {
  position:absolute;
  left:0px;
  top:64px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16152 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16153 {
  position:absolute;
  left:0px;
  top:96px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16154 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16155 {
  position:absolute;
  left:0px;
  top:128px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16156 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u16157 {
  position:absolute;
  left:0px;
  top:160px;
  width:108px;
  height:32px;
  font-size:12px;
  color:#666666;
}
#u16158 {
  position:absolute;
  left:2px;
  top:9px;
  width:104px;
  word-wrap:break-word;
}
#u16159 {
  position:absolute;
  left:128px;
  top:320px;
  width:128px;
  height:224px;
  visibility:hidden;
}
#u16159_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:230px;
}
#u16160 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:229px;
}
#u16161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16161 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16162 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16163 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u16164 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16165 {
  position:absolute;
  left:0px;
  top:64px;
  width:128px;
  height:32px;
}
#u16166 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16167 {
  position:absolute;
  left:0px;
  top:96px;
  width:128px;
  height:32px;
}
#u16168 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16169 {
  position:absolute;
  left:0px;
  top:128px;
  width:128px;
  height:32px;
}
#u16170 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16171 {
  position:absolute;
  left:0px;
  top:160px;
  width:128px;
  height:32px;
}
#u16172 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16173 {
  position:absolute;
  left:0px;
  top:192px;
  width:128px;
  height:32px;
}
#u16174 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16175 {
  position:absolute;
  left:128px;
  top:352px;
  width:128px;
  height:64px;
  visibility:hidden;
}
#u16175_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:70px;
}
#u16176 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:69px;
}
#u16177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16177 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16178 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16179 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u16180 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16181 {
  position:absolute;
  left:128px;
  top:96px;
  width:128px;
  height:64px;
  visibility:hidden;
}
#u16181_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:134px;
  height:70px;
}
#u16182 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:69px;
}
#u16183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16183 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16184 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:32px;
}
#u16185 {
  position:absolute;
  left:0px;
  top:32px;
  width:128px;
  height:32px;
}
#u16186 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u16188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
}
#u16188 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
}
#u16189 {
  position:absolute;
  left:2px;
  top:24px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u16190 {
  position:absolute;
  left:41px;
  top:21px;
  width:70px;
  height:25px;
  font-family:'华文行楷 Regular', '华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u16191 {
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:38px;
}
#u16192 {
  position:absolute;
  left:21px;
  top:13px;
  width:42px;
  height:38px;
  -webkit-transform:rotate(109deg);
  -moz-transform:rotate(109deg);
  -ms-transform:rotate(109deg);
  transform:rotate(109deg);
}
#u16193 {
  position:absolute;
  left:2px;
  top:11px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u16194 {
  position:absolute;
  left:960px;
  top:0px;
  width:64px;
  height:64px;
}
#u16195 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u16196 {
  position:absolute;
  left:796px;
  top:14px;
  width:154px;
  height:15px;
}
#u16197 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u16198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u16198 {
  position:absolute;
  left:911px;
  top:40px;
  width:39px;
  height:15px;
}
#u16199 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u16200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u16200 {
  position:absolute;
  left:138px;
  top:74px;
  width:29px;
  height:16px;
}
#u16201 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16202p000 {
  position:absolute;
  left:137px;
  top:95px;
  width:889px;
  height:3px;
}
#u16202p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:3px;
}
#u16202 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16203 {
  position:absolute;
  left:140px;
  top:88px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:326px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u16204 {
  position:absolute;
  left:138px;
  top:107px;
  width:886px;
  height:326px;
}
#u16205 {
  position:absolute;
  left:2px;
  top:155px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16206 {
  position:absolute;
  left:139px;
  top:108px;
  width:883px;
  height:324px;
}
#u16206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:324px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16206_input {
  color:#000000;
}
#u16206_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:889px;
  height:330px;
}
#u16207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
  background:inherit;
  background-color:rgba(123, 123, 123, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  font-size:14px;
  color:#666666;
}
#u16207 {
  position:absolute;
  left:138px;
  top:443px;
  width:96px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u16208 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u16210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  color:#FFFFFF;
}
#u16210 {
  position:absolute;
  left:0px;
  top:1040px;
  width:1024px;
  height:64px;
  color:#FFFFFF;
}
#u16211 {
  position:absolute;
  left:2px;
  top:24px;
  width:1020px;
  word-wrap:break-word;
}
#u16212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u16212 {
  position:absolute;
  left:175px;
  top:74px;
  width:5px;
  height:16px;
}
#u16213 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u16214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u16214 {
  position:absolute;
  left:190px;
  top:74px;
  width:57px;
  height:16px;
}
#u16215 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
