body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1030px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:41px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-right:0px;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5338 {
  position:absolute;
  left:30px;
  top:136px;
  width:9px;
  height:41px;
}
#u5339 {
  position:absolute;
  left:2px;
  top:12px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:31px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-right:0px;
  border-radius:1px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5340 {
  position:absolute;
  left:30px;
  top:226px;
  width:9px;
  height:31px;
}
#u5341 {
  position:absolute;
  left:2px;
  top:8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:31px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-right:0px;
  border-radius:1px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5342 {
  position:absolute;
  left:30px;
  top:299px;
  width:9px;
  height:31px;
}
#u5343 {
  position:absolute;
  left:2px;
  top:8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:11px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5344 {
  position:absolute;
  left:335px;
  top:0px;
  width:69px;
  height:11px;
}
#u5345 {
  position:absolute;
  left:2px;
  top:-2px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:1073px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5346 {
  position:absolute;
  left:37px;
  top:7px;
  width:437px;
  height:1073px;
}
#u5347 {
  position:absolute;
  left:2px;
  top:528px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:779px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5348 {
  position:absolute;
  left:67px;
  top:141px;
  width:377px;
  height:779px;
}
#u5349 {
  position:absolute;
  left:2px;
  top:382px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5350 {
  position:absolute;
  left:214px;
  top:75px;
  width:81px;
  height:17px;
}
#u5351 {
  position:absolute;
  left:2px;
  top:0px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5352 {
  position:absolute;
  left:247px;
  top:46px;
  width:17px;
  height:17px;
}
#u5353 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
  background:inherit;
  background-color:rgba(230, 230, 232, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5354 {
  position:absolute;
  left:214px;
  top:947px;
  width:83px;
  height:83px;
}
#u5355 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5356 {
  position:absolute;
  left:1010px;
  top:860px;
  width:50px;
  height:50px;
}
#u5357 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u5358 {
  position:absolute;
  left:68px;
  top:142px;
  width:375px;
  height:65px;
}
#u5359 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5360 {
  position:absolute;
  left:403px;
  top:167px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5361 {
  position:absolute;
  left:204px;
  top:174px;
  width:104px;
  height:16px;
  color:#666666;
}
#u5362 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u5363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u5363 {
  position:absolute;
  left:68px;
  top:874px;
  width:375px;
  height:45px;
}
#u5364 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5365 {
  position:absolute;
  left:68px;
  top:875px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5366 {
  position:absolute;
  left:81px;
  top:320px;
  width:352px;
  height:56px;
}
#u5367 {
  position:absolute;
  left:2px;
  top:20px;
  width:348px;
  word-wrap:break-word;
}
#u5368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5368 {
  position:absolute;
  left:81px;
  top:505px;
  width:352px;
  height:56px;
  color:#FFFFFF;
}
#u5369 {
  position:absolute;
  left:2px;
  top:20px;
  width:348px;
  word-wrap:break-word;
}
#u5370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5371 {
  position:absolute;
  left:81px;
  top:220px;
  width:22px;
  height:22px;
}
#u5372 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5373 {
  position:absolute;
  left:99px;
  top:220px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u5374 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u5375 {
  position:absolute;
  left:208px;
  top:217px;
  width:97px;
  height:28px;
  font-size:24px;
}
#u5376 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5377 {
  position:absolute;
  left:117px;
  top:264px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u5378 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5379 {
  position:absolute;
  left:147px;
  top:266px;
  width:57px;
  height:16px;
}
#u5380 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5381 {
  position:absolute;
  left:248px;
  top:266px;
  width:17px;
  height:16px;
  color:#666666;
}
#u5382 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5383 {
  position:absolute;
  left:309px;
  top:264px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u5384 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u5385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5385 {
  position:absolute;
  left:339px;
  top:266px;
  width:57px;
  height:16px;
}
#u5386 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5387 {
  position:absolute;
  left:81px;
  top:410px;
  width:127px;
  height:56px;
}
#u5388 {
  position:absolute;
  left:2px;
  top:20px;
  width:123px;
  word-wrap:break-word;
}
#u5389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:56px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5389 {
  position:absolute;
  left:218px;
  top:410px;
  width:215px;
  height:56px;
}
#u5390 {
  position:absolute;
  left:2px;
  top:20px;
  width:211px;
  word-wrap:break-word;
}
#u5392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u5392 {
  position:absolute;
  left:68px;
  top:623px;
  width:375px;
  height:1px;
}
#u5393 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5394 {
  position:absolute;
  left:78px;
  top:663px;
  width:29px;
  height:16px;
  color:#666666;
}
#u5395 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5396 {
  position:absolute;
  left:133px;
  top:663px;
  width:29px;
  height:16px;
  color:#666666;
}
#u5397 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5398 {
  position:absolute;
  left:188px;
  top:657px;
  width:163px;
  height:28px;
}
#u5399 {
  position:absolute;
  left:2px;
  top:6px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5400 {
  position:absolute;
  left:208px;
  top:658px;
  width:128px;
  height:27px;
}
#u5400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:27px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5401 {
  position:absolute;
  left:318px;
  top:662px;
  width:19px;
  height:19px;
}
#u5402 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5403 {
  position:absolute;
  left:377px;
  top:663px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5404 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5405 {
  position:absolute;
  left:119px;
  top:707px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5406 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5407 {
  position:absolute;
  left:195px;
  top:707px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5408 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5409 {
  position:absolute;
  left:348px;
  top:707px;
  width:43px;
  height:16px;
  color:#666666;
}
#u5410 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5411 {
  position:absolute;
  left:272px;
  top:707px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5412 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u5413 {
  position:absolute;
  left:185px;
  top:705px;
  width:1px;
  height:20px;
}
#u5414 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u5415 {
  position:absolute;
  left:262px;
  top:705px;
  width:1px;
  height:20px;
}
#u5416 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u5417 {
  position:absolute;
  left:338px;
  top:705px;
  width:1px;
  height:20px;
}
#u5418 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u5420 {
  position:absolute;
  left:143px;
  top:754px;
  width:85px;
  height:29px;
  font-family:'华文琥珀 Regular', '华文琥珀';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5421 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
}
#u5422 {
  position:absolute;
  left:238px;
  top:769px;
  width:145px;
  height:14px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5423 {
  position:absolute;
  left:2px;
  top:-1px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5424 {
  position:absolute;
  left:194px;
  top:820px;
  width:164px;
  height:16px;
  color:#666666;
}
#u5425 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u5426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5426 {
  position:absolute;
  left:154px;
  top:813px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5427 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5429 {
  position:absolute;
  left:68px;
  top:813px;
  width:375px;
  height:60px;
  color:#666666;
}
#u5430 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  word-wrap:break-word;
}
#u5431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5431 {
  position:absolute;
  left:423px;
  top:813px;
  width:20px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5432 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5433 {
  position:absolute;
  left:78px;
  top:818px;
  width:50px;
  height:50px;
  color:#666666;
}
#u5434 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5435 {
  position:absolute;
  left:383px;
  top:828px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5436 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5438 {
  position:absolute;
  left:403px;
  top:213px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5439 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
